<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />

    <script src="../../js/include.js"></script>
  </head>
  <body>
    <div class="wrap join">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="../include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article class="join">
          <section>
            <div class="page-title">
              <h2>회원가입</h2>
              <p class="explain">SK 렌터카에 오신걸 환영합니다. 회원가입 후 더 많은 정보를 얻으세요!</p>
            </div>
          </section>

          <section>
            <div class="box-members join">
              <div class="banner"><img src="../../img/members/banner_join.svg" /></div>

              <div class="box-title">
                <div class="title"><h3>회원정보</h3></div>
                <div class="info"><span class="req">필수입력값 표시</span>필수입력 사항</div>
              </div>

              <div class="form">
                <div class="form-control">
                  <div class="form-control-label">
                    <span>아이디</span>
                    <span class="req">필수입력값</span>
                  </div>
                  <div class="form-control-container">
                    <div class="form-control-content">
                      <div class="form-control-input">
                        <input type="search" placeholder="영문, 숫자 포함4~20자 이내" />
                        <button class="btnClear"></button>
                      </div>
                    </div>
                    <div class="error">에러 메세지</div>
                  </div>
                </div>

                <div class="form-control">
                  <div class="form-control-label">
                    <span>비밀번호</span>
                    <span class="req">필수입력값</span>
                  </div>
                  <div class="form-control-container">
                    <div class="form-control-content">
                      <div class="form-control-input">
                        <input type="search" placeholder="영문, 숫자, 특수문자 포함 10~20자 이내" />
                        <button class="btnClear"></button>
                      </div>
                    </div>
                    <div class="error on">에러 메세지</div>
                  </div>
                </div>

                <div class="form-control">
                  <div class="form-control-label">
                    <span>비밀번호 확인</span>
                    <span class="req">필수입력값</span>
                  </div>
                  <div class="form-control-container">
                    <div class="form-control-content">
                      <div class="form-control-input">
                        <input type="search" placeholder="비밀번호를 다시 입력해주세요." />
                        <button class="btnClear"></button>
                      </div>
                    </div>
                    <div class="error">에러 메세지</div>
                  </div>
                </div>

                <div class="form-control">
                  <div class="form-control-label">
                    <span>이름</span>
                    <span class="req">필수입력값</span>
                  </div>
                  <div class="form-control-container">
                    <div class="form-content-label">
                      <div class="form-control-text">홍길동</div>
                    </div>
                  </div>
                </div>

                <div class="form-control">
                  <div class="form-control-label">
                    <span>휴대폰번호</span>
                    <span class="req">필수입력값</span>
                  </div>
                  <div class="form-control-container">
                    <div class="form-control-content">
                      <div class="form-control-text">010-1234-5678</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="box-title">
                <div class="title"><h3>약관동의</h3></div>
              </div>

              <div class="form agree">
                <div class="agree-all">
                  <div class="check-radio">
                    <input type="checkbox" id="checkbox" />
                    <label for="checkbox">전체동의</label>
                  </div>
                  <p class="info">선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
                </div>

                <div class="agree-detail">
                  <div class="check-radio">
                    <input type="checkbox" id="checkbox01" />
                    <label for="checkbox01">개인정보 수집 및 이용동의 (필수)</label>
                    <button class="agree-more__button">약관보기</button>
                  </div>
                  <div class="check-radio">
                    <input type="checkbox" id="checkbox02" />
                    <label for="checkbox02">SK렌터카 다이렉트 이용약관 (필수)</label>
                    <button class="agree-more__button">약관보기</button>
                  </div>
                  <div class="check-radio">
                    <input type="checkbox" id="checkbox03" />
                    <label for="checkbox03">신차 출시안내 및 마케팅 활용동의 (선택)</label>
                    <button class="agree-more__button">약관보기</button>
                  </div>
                  <div class="check-radio">
                    <input type="checkbox" id="checkbox04" />
                    <label for="checkbox04">본인은 만 14세 이상입니다. (필수)</label>
                    <button class="agree-more__button">약관보기</button>
                  </div>
                </div>
              </div>

              <div class="btn-box"><button class="btn-primary">가입하기</button></div>
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="../include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="../include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

  <script>
    includeHTML();
  </script>
</html>
