<div class="wrap-board-search">
  <div class="box-search"><input type="search" /><button type="button" class="btn-search">검색</button></div>
</div>
<section class="mt60">
  <div class="board-wrap">
    <table>
      <colgroup>
        <col width="90px" />
        <col width="auto" />
        <col width="150px" />
      </colgroup>
      <thead>
        <tr>
          <th scope="col">타이틀</th>
          <th scope="col">타이틀</th>
          <th scope="col">타이틀</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><span class="badge">공지</span></td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">10.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>

        <tr>
          <td scope="row">9.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>

        <tr>
          <td scope="row">8.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>

        <tr>
          <td scope="row">7.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">6.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">5.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">4.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">3.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">2.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
        <tr>
          <td scope="row">1.</td>
          <td>
            <a href="" title="공지사항 제목"><span class="category">[안내]</span>서비스 오픈 안내</a>
          </td>
          <td>2013-08-17</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div role="navigation" class="paging-wrap">
    <a href="" class="first"><span class="hide-txt">첫페이지</span></a>
    <a href="" class="prev"><span class="hide-txt">이전페이지</span></a>
    <ol>
      <li class="page-btn"><a href="page=1">1</a></li>
      <li class="page-btn"><a href="page=2">2</a></li>
      <li class="page-btn"><a href="page=3">3</a></li>
      <li class="page-btn"><a href="page=4">4</a></li>
      <li class="page-btn"><a href="page=5">5</a></li>
      <li class="page-btn"><a href="page=6">6</a></li>
      <li class="page-btn"><a href="page=7">7</a></li>
      <li class="page-btn"><a href="page=8">8</a></li>
      <li class="page-btn"><a href="page=9">9</a></li>
      <li class="page-btn"><a href="page=10" class="this">10</a></li>
    </ol>
    <a href="" class="next"><span class="hide-txt">다음페이지</span></a>
    <a href="" class="last"><span class="hide-txt">마지막페이지</span></a>
  </div>
</section>
