<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <aside w3-include-html="../include/aside.html"></aside>

        <article>
          <section>ssdfsddf</section>

          <section>
            <div class="table-wrap">
              <table>
                <thead>
                  <tr>
                    <th>th</th>
                    <th><span>span</span></th>
                    <th><span>span</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th rowspan="2">th</th>
                    <td><span>span td</span></td>
                    <td><span>span td</span></td>
                  </tr>
                  <tr>
                    <td colspan="2">td</td>
                  </tr>
                  <tr>
                    <th>sd</th>
                    <td></td>
                    <td>
                      <div class="">
                        <span>수리(견적)비용 : 902,050원</span>
                        <span>부품 : 110,010원</span>
                        <span>공임 : 495,000원</span>
                        <span>도장 : 297,040원</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
