<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>

  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section class="error__wrap">
            <div class="error">
              <p class="title">잠시 후 다시 확인해 주세요.</p>
              <p class="title-sub">지금 이 서비스와 연결할 수 없습니다.</p>
              <p class="title-sub">문제를 해결하기 위해 열심히 노력을 하고 있습니다.<br />잠시 후 다시 확인해 주세요.</p>
            </div>
            <div class="btn-box">
              <button class="btn-gray">이전페이지로</button>
              <button class="btn-primary">홈으로</button>
            </div>

            <div class="message-error">
              에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력 에러메세지 출력 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력 에러메세지 출력 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력 에러메세지 출력 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지
              출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력에러메세지 출력 에러메세지 출력
            </div>
          </section>
        </article>

        <!-- quick -->
        <!-- <article class="quick" w3-include-html="../include/quick.html"></article> -->
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html" class="solid"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>
  <script>
    includeHTML();
  </script>
</html>
