<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section><button data-rel="#pop-01" class="open-pop btn-open-pop">메인 팝업</button></section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/FP2-RT3200.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

  <!-- 비밀번호 변경 -->
  <div class="popup-wrap pop-main load-pop" id="pop-01" style="display: block">
    <div class="pop-box">
      <!-- <div class="pop-header">
        <h2><span class="hide-txt">비밀번호 재설정</span></h2>
        <button class="pop-close btn-close" ><span class="hide-txt">팝업닫기</span></button>
      </div> -->

      <div class="pop-content"></div>

      <div class="main-btn-box">
        <button class="btn-today-close"><i class="icon"></i>오늘 하루 보지않기</button>
        <button class="pop-close">닫기</button>
      </div>

      <!-- <div class="pop-footer">
        <div class="main-btn-box">
          <button class="btn-today-close"><i class="icon"></i>오늘 하루 보지않기</button>
          <button class="pop-close">닫기</button>
        </div>
      </div> -->
    </div>
  </div>
  <!-- //비밀번호 변경 -->
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
