<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="form bbs">
              <!-- bbs list -->
              <div class="bbs-wrap">
                <!-- table -->
                <table class="table-default">
                  <caption>
                    방문예약현황
                  </caption>
                  <colgroup>
                    <col width="*" />
                    <col width="15%" />
                    <col width="15%" />
                    <col width="15%" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th>차량정보</th>
                      <th>방문일</th>
                      <th>차량정보</th>
                      <th>예약상태</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="align-left">G80 2.5 1WD</td>
                      <td>2023-08-02</td>
                      <td>오전 10:00</td>
                      <td><span class="status-wait">방문예약대기</span></td>
                    </tr>
                    <tr>
                      <td class="align-left">G80 2.5 1WD</td>
                      <td>2023-08-02</td>
                      <td>오전 10:00</td>
                      <td><span class="status-confirm">방문예약확정</span></td>
                    </tr>
                    <tr>
                      <td class="align-left">G80 2.5 1WD</td>
                      <td>2023-08-02</td>
                      <td>오전 10:00</td>
                      <td><span class="status-cancel">방문예약취소</span></td>
                    </tr>
                  </tbody>
                </table>
                <!-- //table -->
              </div>
              <!-- //bbs list -->
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
