<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section class="error__wrap">
            <div class="error">
              <p class="title">서비스 점검 중입니다.</p>
              <p class="title-sub">지금보다 나은 서비스 제공을 위한 점검이 진행되고 있습니다.</p>
              <p class="title-sub">불편하시더라도 조금만 기다려 주시길 바라며<br />보다 신속하게 작업을 마칠 수 있도록 최선을 다하겠습니다.</p>
            </div>

            <div class="table-error">
              <table>
                <colgroup>
                  <col width="140px" />
                  <col width="auto" />
                </colgroup>
                <tr>
                  <th>점검시간</th>
                  <td>2023년 8월 11일 (금) 23:00 ~ 8월 12일 (토) 10:00</td>
                </tr>
                <tr>
                  <th>점검 영향</th>
                  <td>서비스 이용 불가</td>
                </tr>
              </table>
            </div>
          </section>
        </article>

        <!-- quick -->
        <!-- <article class="quick" w3-include-html="../include/quick.html"></article> -->
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html" class="solid"></footer>
      <!-- //footer -->
    </div>
  </body>

  <script src="../../../assets/pc/js/ui.js"></script>
  <script>
    includeHTML();
  </script>
</html>
