<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap login">
      <div class="login_wrap">
        <div class="logo"></div>

        <div class="form">
          <div class="form-control">
            <div class="form-control-label">
              <span>아이디</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="search" placeholder="아이디를 입력해주세요." />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error">에러 메세지</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-control-label">
              <span>비밀번호</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="password" placeholder="비밀번호를 입력해주세요." />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error on">에러 메세지</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-control-container">
              <button type="button" class="btnLogin btn-primary">로그인</button>
            </div>
          </div>
        </div>

        <div class="login-more">
          <a href="">회원가입</a>
          <span class="bar"></span>
          <button type="button" data-rel="#find-id" class="btn-open">아이디찾기</button>
          <span>/</span>
          <button type="button" data-rel="pw-reset" onclick="popView();">비밀번호 재설정</button>
        </div>

        <div class="login-sns">
          <p class=""><span>간편 로그인</span></p>
          <div class="sns-box">
            <a href="" class="kakao" title="카카오톡 연동 로그인"></a>
            <a href="" class="naver" title="네이버 연동 로그인"></a>
            <a href="" class="apple" title="애플 연동 로그인"></a>
          </div>
        </div>

        <div class="banner">
          <div class="">
            <img src="../../img/members/banner_sample.svg" />
          </div>
        </div>
      </div>
      <button data-rel="#find-id" class="btn-open">아이디 찾기</button>
      <div class="copyright">Copyright SKRUC. All Rights Reserved.</div>
    </div>
  </body>
  <!-- 아이디찾기 -->
  <div class="popup-wrap pop-members find-id" id="find-id">
    <div class="pop-box">
      <div class="pop-header">
        <h2><span class="hide-txt">아이디 찾기</span></h2>
        <button class="pop-close"><span class="hide-txt">팝업닫기</span></button>
      </div>

      <div class="pop-content">
        <p class="title">회원님의<br />아이디를 찾았어요!</p>
        <p class="summary">2023년 7월 21일에 가입하였어요.</p>

        <div class="find-info">
          <p>아이디 정보</p>
          <div class="fine-outcome">hongildong1234</div>
        </div>

        <div class="btn-box">
          <button class="btn-gray">비밀번호 재설정</button>
          <button class="btn-primary">로그인</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //아이디찾기 -->
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
