<div class="tab2-wrap">
  <input
    id="tab-radio1"
    class="panel-radios panel-1-ctrl"
    type="radio"
    name="tab-radios"
    checked
  />
  <input
    id="tab-radio2"
    class="panel-radios panel-2-ctrl"
    type="radio"
    name="tab-radios"
  />
  <input
    id="tab-radio3"
    class="panel-radios panel-3-ctrl"
    type="radio"
    name="tab-radios"
  />
  <input
    id="tab-radio4"
    class="panel-radios panel-4-ctrl"
    type="radio"
    name="tab-radios"
  />
  <input
    id="tab-radio5"
    class="panel-radios panel-5-ctrl"
    type="radio"
    name="tab-radios"
  />

  <!-- TABS LIST -->
  <ul class="tabs-list">
    <!-- MENU TOGGLE -->
    <!-- <label id="open-nav-label" for="nav-ctrl"></label> -->
    <li class="li-for-panel-1">
      <label class="panel-label" for="tab-radio1">개인정보 수집</label>
    </li>
    <!--INLINE-BLOCK FIX-->
    <li class="li-for-panel-2">
      <label class="panel-label" for="tab-radio2">개인정보 이용</label>
    </li>
    <!--INLINE-BLOCK FIX-->
    <li class="li-for-panel-3">
      <label class="panel-label" for="tab-radio3">개인정보 제공</label>
    </li>
    <!--INLINE-BLOCK FIX-->
    <li class="li-for-panel-4">
      <label class="panel-label" for="tab-radio4">개인정보 파기</label>
    </li>
    <!--INLINE-BLOCK FIX-->
    <li class="li-for-panel-5">
      <label class="panel-label" for="tab-radio5">이용자 권리 보호</label>
    </li>
    <!-- <label id="close-nav-label" for="nav-ctrl">Close</label> -->
  </ul>

  <!-- THE PANELS -->
  <div class="tab-panels">
    <div class="container">
      <div class="section panel-1">
        <div class="main">
          <div class="easy-privacy-wrap">
            <!-- 1set -->
            <div class="easy-privacy-box">
              <div class="icon-privacy">
                <img src="/src/assets/pc/img/privacy/icon_privacy_001.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" />
              </div>
              <div class="title">개인정보가 뭐예요?</div>
              <div class="title-sub">
                개인정보는 고객님을 알아볼 수 있는 정보로 이름, 핸드폰번호,
                이메일 주소 등이 해당돼요. 아이디, 비밀번호도 고객님을 알아낼 수
                있기 때문에 개인정보라 볼 수 있어요!
              </div>
            </div>
            <!-- //1set -->

            <div class="easy-privacy-box">
              <div class="icon-privacy">
                <img src="/src/assets/pc/img/privacy/icon_privacy_002.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" />
              </div>
              <div class="title">어떤 개인정보를 수집하나요?</div>
              <div class="title-sub">
                SK렌터카㈜는 차량 렌탈 서비스 제공을 위해 반드시 필요한
                개인정보만을 받고 있어요.
                <dl>
                  <dt>반드시 필요해요</dt>
                  <dd>이름, 핸드폰번호, 아이디, 비밀번호, CI</dd>
                  <dt>더 편리하게 이용하시려면 필요해요</dt>
                  <dd>이메일 주소</dd>
                </dl>
              </div>
            </div>
            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_003.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">CI는 뭐예요?</div>
              <div class="title-sub">
                CI는 고객님을 온라인에서 유일하게 식별하기 위해 부여된 정보예요.
                휴대폰 본인확인 진행 시 수집해요.
              </div>
            </div>
            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_004.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">개인정보는 어떻게 수집하나요?</div>
              <div class="title-sub">
                고객님께서 직접 입력하시거나, 이미 입력하신 정보를 받아와요.
              </div>
            </div>

            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_005.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">개인정보를 왜 수집하는 거예요?</div>
              <div class="title-sub">
                SK렌터카가 고객님을 기억하고 SK렌터카의 렌탈 서비스를 제공하기
                위해서 필요해요.
              </div>
            </div>
            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_006.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">개인정보 수집에 동의하지 않아도 괜찮나요?</div>
              <div class="title-sub">
                동의하지 않으시면 SK렌터카 서비스 이용에 제한이 생겨요.
              </div>
            </div>
            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_007.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">
                직접 입력하는 개인정보 외에 다른 것도 있나요?
              </div>
              <div class="title-sub">
                SK렌터카 홈페이지와 앱을 이용할 때, 쿠키(고객님이 이용한 사이트
                정보)를 추가로 수집하고 있어요.쿠키에 대해서는 아래 ‘개인정보
                처리방침’에서 보다 자세하게 확인할 수 있어요.
              </div>
            </div>
            <div class="easy-privacy-box">
              <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_008.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
              <div class="title">고유식별정보는 뭐예요?</div>
              <div class="title-sub">
                고유식별정보는 운전면허번호처럼 고객님을 대한민국에서 유일하게
                알아보기 위해 부여된 딱 하나인 아주 중요한 개인정보예요.
                SK렌터카는 고유식별정보를 수집할 때 알아보기 쉽게 눈에 띄도록
                표시하여 동의를 받고 있어요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_009.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">민감정보는 뭐예요?</div>
                <div class="title-sub">
                  민감정보는 고객님의 평소 가치관, 정치적 생각, 건강, 성생활
                  정보와 같이 사생활에 관련된 정보를 뜻해요. SK렌터카는 고객님의
                  사생활을 보호하기 위해 민감정보를 수집하지 않아요.
                </div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_010.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">만 14세 미만도 회원가입 할 수 있나요?</div>
                <div class="title-sub">
                  SK렌터카 서비스를 이용하기 위해서는 운전면허증이 필요하기
                  때문에, 만 14세 미만은 가입을 도와드릴 수 없어요.
                  <br /><br />아쉽지만 다음에 만나요!
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="section panel-2">
          <div class="main">
            <div class="easy-privacy-wrap">
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_011.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">개인정보를 왜 이용하나요?</div>
                <div class="title-sub">고객님께서 SK렌터카 서비스를 이용하시면서 불편함이 없도록 하기 위해 개인정보를 이용해요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_012.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">개인정보를 반드시 이용해야 하나요?</div>
                <div class="title-sub">렌터카 예약, 렌터카 견적 상담, 고객센터의 상담 등의 서비스를 제공하기 위해서 고객님의 개인정보를 이용하고 있어요.<br><br>단, 고객님께서 동의한 서비스 제공에만 개인정보를 이용하고 있으니 안심하세요!</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_013.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">아이디, 비밀번호는 왜 필요한가요?</div>
                <div class="title-sub">고객님이 맞는지 확인하기 위해서 아이디와 비밀번호를 이용하고 있어요. 
                  다른 사람이 몰래 이용하지 못하도록 보호하기 위한 목적도 있어요. 비밀번호는 안전한 방법으로 암호화 되고 있어 누구도 고객님의 비밀번호는 알 수 없어요.</div>
              </div>

            </div>
          </div>
        </div>
        <div class="section panel-3">
          <div class="main">
            <div class="easy-privacy-wrap">
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_014.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">개인정보 제공이 뭐예요?</div>
                <div class="title-sub">SK렌터카가 고객님으로부터 수집한 개인정보를 다른 사람에게 전달한다는 의미예요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_015.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">개인정보는 왜 제공하나요?</div>
                <div class="title-sub">고객님께 원활한 서비스 제공을 위해서나, 법을 지키기 위해서 제3자에게 개인정보를 제공하고 있어요.
                  <br><br>
                  법에서 요구하는 경우를 제외하고는 고객님의 동의를 받은 후에 외부로 제공해요!</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_016.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">제3자는 누구인가요?</div>
                <div class="title-sub">SK렌터카와 고객님이 아닌 다른 모든 사람을 의미해요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_017.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">개인정보를 제공하지 않으면 
                  어떻게 되나요?</div>
                <div class="title-sub">서비스 이용에 필요한 개인정보 제공에 동의하지 않으면 SK렌터카와 함께 할 수 없어요.</div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="section panel-4">
          <div class="main">
            <div class="easy-privacy-wrap">
              
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_018.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">파기가 뭐예요?</div>
                <div class="title-sub">파기란 다시는 누구인지 알아볼 수 없도록 지우는 것을 말해요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_019.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">언제 파기하나요?</div>
                <div class="title-sub">회원을 탈퇴하실 때나, 고객님께서 원하실 때 고객센터에 연락 주시면 언제든지 삭제할 수 있어요. 
                  <br><br>
                  다만, 다른 법에서 필요한 경우 일정 기간 동안 개인정보를 보관해요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_020.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">오랫동안 이용하지 않으면 
                  어떻게 되나요?</div>
                <div class="title-sub">1년(또는 고객님의 선택에 따라 5년) 동안 서비스를 이용하지 않으셨다면 고객님의 개인정보를 안전하게 관리하기 위해서 따로 분리보관 후 삭제하고 있어요.
                  <br><br>
                  삭제 하기 한달 전에 미리 고객님께 안내해 드려요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_021.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">파기는 어떻게 하나요?</div>
                <div class="title-sub">전자적 파일로 된 정보는 다시 재생할 수 없는 방법으로 파기하고 있어요. 
                  종이 형태로 된 개인정보는 분쇄기로 분쇄하거나 소각해서 파기해요.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="section panel-5">
          <div class="main">
            <div class="easy-privacy-wrap">
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_022.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">권리 보호가 뭐예요?</div>
                <div class="title-sub">권리 보호란, 고객님의 개인정보를 고객님께서 원하는 대로 열람, 수정, 삭제하실 수 있도록 보장하는 것을 말해요.</div>
              </div>
              <div class="easy-privacy-box">
                <div class="icon-privacy"><img src="/src/assets/pc/img/privacy/icon_privacy_023.png" alt="알기쉬운 개인정보 처리방침 질문별 아이콘" /></div>
                <div class="title">권리를 요구하려면 어떻게 해야 하나요?</div>
                <div class="title-sub">SK렌터카는 고객님의 권리를 보호하기 위해 최선을 다하고 있어요. 아래 연락처로 문의하시면 친절하게 도와드려요.

                  <ul>
                    <li>정보보호센터 (정종원 매니저)</li>
                    <li>02-647-5796 (또는 1599-9111)</li>
                  
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="easy-privacy-info">
          보다 상세한 정보는 SK렌터카 <span>'개인정보 처리방침'</span> 에서
          확인하실 수 있어요.
        </div>
      </div>
    </div>
  </div>
</div>
