<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section><button data-rel="#pop-01" class="open-pop btn-open-pop">마케팅 활용 동의(선택) 팝업</button></section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <!-- 비밀번호 변경 -->
  <div class="popup-wrap pop-members pw-reset w-sm" id="pop-01" style="display: block">
    <div class="pop-box" style="height: 686px">
      <div class="pop-header">
        <h2><span class="hide-txt">마케팅 활용 동의(선택)</span></h2>
        <button class="pop-close"><span class="hide-txt">팝업닫기</span></button>
      </div>
      <div class="pop-footer">
        <div class="btn-wrap">
          <div class="btn-box">
            <button class="btn-primary">확인했어요</button>
          </div>
        </div>
      </div>
      <div class="pop-content">
        <p class="title">마케팅 활용 동의(선택)</p>

        <table class="tb-cnt tb-my">
          <colgroup>
            <col style="width: 110px" />
          </colgroup>
          <tbody>
            <tr>
              <th>수집항목</th>
              <td>휴대폰번호, 이메일(회원가입 후 개인정보수정 메뉴에서 인증)</td>
            </tr>
            <tr>
              <th>이용목적</th>
              <td>
                <b>1. SK렌터카가 제공하는 서비스/상품 또는 제3자 제공하는 서비스가 제휴/결합된 서비스/상품의 제공 및 안내<br />2. 이벤트 정보/혜택 안내 및 참여 정보 제공</b>
              </td>
            </tr>
            <tr>
              <th>보유 및 이용기간</th>
              <td><b>계약에 따른 거래관계의 종료 후 1년 또는 동의 철회 시까지(단, 홈페이지 회원의 경우 탈퇴 또는 동의 철회 시 까지)</b></td>
            </tr>
          </tbody>
        </table>
        <p class="summary">
          마케팅 활용 동의를 선택하지 않아도 'SK렌터카' 서비스는 이용할 수 있으나, 새로운 상품 및 서비스 정보 수신은 제외됩니다. 고객님께서 동의를 거부할 권리가 있으나, 미 동의 시 상품/서비스 안내에
          제한을 받을 수 있습니다. 아래 SMS, 이메일 중 선택 수단에 따라 수집 및 활용되는 항목은 달라집니다.
        </p>
      </div>
    </div>
  </div>
  <!-- //비밀번호 변경 -->

  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
