<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section><button data-rel="#pop-01" class="open-pop btn-open-pop">마케팅 활용 동의(선택) 팝업</button></section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <!-- 비밀번호 변경 -->
  <div class="popup-wrap pop-members pw-reset w-md" id="pop-01">
    <div class="pop-box">
      <div class="pop-header">
        <h2><span class="hide-txt">비밀번호 재설정</span></h2>
        <button class="pop-close"><span class="hide-txt">팝업닫기</span></button>
      </div>

      <div class="pop-content">
        <p class="title">이메일 무단수집 거부</p>
        <p class="summary">
          본 웹사이트에 게재된 이메일 주소가 전자 우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며 이를 위반 시 정보통신망 법에 의해 형사 처벌됨을 유념하시기를
          바랍니다.
        </p>
        <p class="summary">2023년 7월 21일에 게시 되었습니다.</p>

        <div class="btn-wrap">
          <div class="btn-box">
            <button class="btn-primary">확인</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- //비밀번호 변경 -->

  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
