<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section class="join_complete__wrap">
            <div class="join_complete">
              <p class="title">회원가입이 완료되었습니다.</p>
              <p class="title-sub">SK 렌터카 가입을 진심으로 환영합니다!</p>

              <div class="btn-box">
                <button class="btn-primary">메인으로</button>
              </div>
            </div>
          </section>
        </article>

        <!-- quick -->
        <!-- <article class="quick" w3-include-html="../include/FP2-RT3200.html"></article> -->
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
