<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="page-title">
              <h2 class="title">마이페이지</h2>
              <div class="title-button my-edit"><a href="FP2-RT3140.html">내 정보수정</a></div>
              <!-- <p class="title-desc">SK 렌터카의 새로운 소식과 정보들을 한곳에서 확인할 수 있어요.</p> -->
            </div>
          </section>
          <section></section>

          <section>
            <div class="tab-wrap">
              <div class="tab">
                <div class="tab-button-wrap">
                  <button class="tablinks active" onclick="tabContent2(event, 'Status01')">My</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status02')">찜한 차량</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status03')">최근 본 차량</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status04')">방문예약신청현황</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status05')">홈 서비스신청 현황</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status06')">내차구매현황</button>
                  <button class="tablinks" onclick="tabContent2(event, 'Status07')">구매후기 작성</button>
                </div>
              </div>

              <div id="Status01" class="tabcontent active">
                <div class="tabcontent-wrap my-page">
                  <!-- <div class="user-name">
                    박길동님,<br />
                    환영합니다 <span class="fc_orange">:)</span>
                  </div> -->

                  <div class="title-wrap">
                    <h3 class="title">
                      박길동님,<br />
                      환영합니다 <span class="fc_orange">:)</span>
                    </h3>
                  </div>

                  <section>
                    <div class="my-car-wrap">
                      <div class="my-car-box zzim">
                        <div class="my-car-info">
                          <div class="title">찜한 차량</div>
                          <div class="count">10</div>
                        </div>
                        <div class="icon"><span class="hide-txt">아이콘 이미지</span></div>
                      </div>

                      <div class="my-car-box last-view">
                        <div class="my-car-info">
                          <div class="title">최근 본 차량</div>
                          <div class="count">10</div>
                        </div>
                        <div class="icon"><span class="hide-txt">아이콘 이미지</span></div>
                      </div>

                      <div class="my-car-box visit">
                        <div class="my-car-info">
                          <div class="title">방문예약 차량</div>
                          <div class="count">10</div>
                        </div>
                        <div class="icon"><span class="hide-txt">아이콘 이미지</span></div>
                      </div>
                    </div>
                  </section>

                  <div class="banner-wrap-my">
                    <img src="../../../assets/pc/img/banner-mypage-home.svg" />
                  </div>
                  <!-- <div class="wrap-board-search">
                    <div class="box-search"><input type="search" /><button type="button" class="btn-search">검색</button></div>
                  </div> -->
                  <!-- 
                  <div class="section-title-wrap">
                    <div class="title">방문예약신청 현황</div>

                    <div class="title-right-wrap">
                      <div class="title-btn-box"><button type="button" class="btn-line">더보기</button></div>
                    </div>
                  </div> -->
                  <!-- 방문예약신청현황 -->
                  <section>
                    <div class="section-title-wrap">
                      <div class="title">방문예약신청 현황</div>
                      <div class="title-right-wrap">
                        <div class="title-btn-box"><button type="button" class="btn-line">더보기</button></div>
                      </div>
                    </div>
                    <table class="my-car">
                      <colgroup>
                        <col width="102px" />
                        <col width="230px" />
                        <col width="auto" />
                        <col width="174px" />
                        <col width="151px" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>신청일</th>
                          <th colspan="2">차량정보</th>
                          <th>방문 일시</th>
                          <th>예약상태</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- list 1set -->
                        <tr>
                          <td>
                            <div class="ask-date">2023년 09월 23일</div>
                          </td>
                          <td>
                            <div class="card-thum">
                              <a href="" class="product-img"><img src="https://via.placeholder.com1/230x150" onerror="this.style.display='none';" alt="상품이미지" style="display: none" /></a>
                            </div>
                          </td>
                          <td>
                            <div class="card-content">
                              <div class="product-info-box">
                                <div class="title"><a href="">방문예약신청 - 기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처 - 상품이미지 오류시</a></div>
                                <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                                <div class="bdg-box">
                                  <span class="orange">SK인증중고차</span>
                                  <span class="line-block">HOT</span>
                                  <span class="line-green">무사고</span>
                                  <span class="green">HOT</span>
                                </div>
                              </div>
                              <div class="price-box">
                                <div class="price"><span>2,196</span><em class="unit">만원</em></div>
                                <div class="sale">40% 할인</div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="date-visit">2023년 09월 23일 <br />오전 10:00</div>
                          </td>
                          <td>
                            <div class="status visit-confirm"><span class="hide-txt">방문예약확정</span></div>
                          </td>
                        </tr>
                        <!-- //list 1set -->
                      </tbody>
                    </table>
                  </section>
                  <!-- //방문예약신청현황-->

                  <!-- 홈서비스신청현황 -->
                  <section>
                    <div class="section-title-wrap">
                      <div class="title">홈 서비스신청 현황</div>
                      <div class="title-right-wrap">
                        <div class="title-btn-box"><button type="button" class="btn-line more">더보기</button></div>
                      </div>
                    </div>
                    <table class="my-car">
                      <colgroup>
                        <col width="102px" />
                        <col width="230px" />
                        <col width="auto" />
                        <col width="174px" />
                        <col width="151px" />
                      </colgroup>
                      <thead>
                        <tr>
                          <th>신청일</th>
                          <th colspan="2">차량정보</th>
                          <th>방문 일시</th>
                          <th>예약상태</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- list 1set -->
                        <tr>
                          <td>
                            <div class="ask-date">2023년 09월 23일</div>
                          </td>
                          <td>
                            <div class="card-thum">
                              <a href="" class="product-img"><img src="https://via.placeholder.com1/230x150" onerror="this.style.display='none';" alt="상품이미지" style="display: none" /></a>
                            </div>
                          </td>
                          <td>
                            <div class="card-content">
                              <div class="product-info-box">
                                <div class="title"><a href="">방문예약신청 - 기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처 - 상품이미지 오류시</a></div>
                                <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                                <div class="bdg-box">
                                  <span class="orange">SK인증중고차</span>
                                  <span class="line-block">HOT</span>
                                  <span class="line-green">무사고</span>
                                  <span class="green">HOT</span>
                                </div>
                              </div>
                              <div class="price-box">
                                <div class="price"><span>2,196</span><em class="unit">만원</em></div>
                                <div class="sale">40% 할인</div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="date-visit">2023년 09월 23일 <br />오전 10:00</div>
                          </td>
                          <td>
                            <div class="status home-wait"><span class="hide-txt">접수대기</span></div>
                          </td>
                        </tr>
                        <!-- //list 1set -->
                      </tbody>
                    </table>
                  </section>
                  <!-- //홈서비스신청현황 -->
                </div>
              </div>

              <div id="Status02" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3110.html"></div>
              </div>

              <div id="Status03" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3120.html"></div>
              </div>

              <div id="Status04" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3130.html"></div>
              </div>

              <div id="Status05" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3181.html"></div>
              </div>

              <div id="Status06" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3170.html"></div>
              </div>

              <div id="Status07" class="tabcontent">
                <div class="tabcontent-wrap" w3-include-html="FP2-RT3150.html"></div>
              </div>
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/FP2-RT3200.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>
  <script>
    includeHTML();

    tabInTab();
  </script>
</html>
