<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="./include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <section class="sub-top">‘현대자동차’에 대한 검색결과</section>

        <aside w3-include-html="./include/aside.html"></aside>

        <article>
          <section>ssdfsddf</section>

          <section>
            <div class="card-box">
              <div class="card-bullet">sdf</div>
              <div class="cards">
                <div class="card-thum">
                  <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지" /></a>
                </div>
                <div class="card-content">
                  <div class="product-info-box">
                    <div class="title"><a href="">방문예약신청 - 기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처 - 상품이미지 오류시</a></div>
                    <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
                    <div class="bdg-box">
                      <span class="orange">SK인증중고차</span>
                      <span class="line-block">HOT</span>
                      <span class="line-green">무사고</span>
                      <span class="green">HOT</span>
                    </div>
                  </div>
                  <div class="price-box">
                    <div class="price"><span>2,196</span><em class="unit">만원</em></div>
                    <div class="sale">40% 할인</div>
                  </div>
                </div>
              </div>
              <div class="btn-box"><button class="primary">비교하기</button><button class="">상담하기</button></div>
            </div>

            <!-- <div class="table-wrap">
              <table>
                <thead>
                  <tr>
                    <th>th</th>
                    <th><span>span</span></th>
                    <th><span>span</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th rowspan="2">th</th>
                    <td><span>span td</span></td>
                    <td><span>span td</span></td>
                  </tr>
                  <tr>
                    <td colspan="2">td</td>
                  </tr>
                  <tr>
                    <th>sd</th>
                    <td></td>
                    <td>
                      <div class="">
                        <span>수리(견적)비용 : 902,050원</span>
                        <span>부품 : 110,010원</span>
                        <span>공임 : 495,000원</span>
                        <span>도장 : 297,040원</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div> -->
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="./include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
