<div class="tab-desc-wrap">
  <div>홈 서비스 신청한 내역을 확인하실 수 있습니다. 만약 신청하신 홈 서비스신청을 취소하시려면 <strong class="stress">고객센터 (1599-3651)</strong>로 문의해주세요.</div>
</div>

<div class="tab-cont-wrap">
  <div class="section-title-wrap">
    <div class="title">전체 <strong>10</strong>건</div>
  </div>
  <table class="my-car">
    <colgroup>
      <col width="102px" />
      <col width="230px" />
      <col width="auto" />
      <col width="174px" />
      <col width="151px" />
    </colgroup>
    <thead>
      <tr>
        <th>신청일</th>
        <th colspan="2">차량정보</th>
        <th>방문 일시</th>
        <th>예약상태</th>
      </tr>
    </thead>
    <tbody>
      <!-- list 1set -->
      <tr>
        <td>
          <div class="ask-date">2023년 09월 23일</div>
        </td>
        <td>
          <div class="card-thum">
            <a href="" class="product-img"><img src="https://via.placeholder.com1/230x150" onerror="this.style.display='none';" alt="상품이미지" /></a>
          </div>
        </td>
        <td>
          <div class="card-content">
            <div class="product-info-box">
              <div class="title"><a href="">방문예약신청 - 기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처 - 상품이미지 오류시</a></div>
              <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
              <div class="bdg-box">
                <span class="orange">SK인증중고차</span>
                <span class="line-block">HOT</span>
                <span class="line-green">무사고</span>
                <span class="green">HOT</span>
              </div>
            </div>
            <div class="price-box">
              <div class="price"><span>2,196</span><em class="unit">만원</em></div>
              <div class="sale">40% 할인</div>
            </div>
          </div>
        </td>
        <td>
          <div class="date-visit">2023년 09월 23일 <br />오전 10:00</div>
        </td>
        <td>
          <div class="status home-wait"><span class="hide-txt">접수대기</span></div>
        </td>
      </tr>
      <!-- //list 1set -->
      <tr>
        <td>
          <div class="ask-date">2023년 09월 23일</div>
        </td>
        <td>
          <div class="card-thum">
            <a href="" class="product-img"><img src="https://cdn.autotribune.co.kr/news/photo/202211/6896_38841_1219.jpg" onerror="this.style.display='none';" alt="상품이미지" /></a>
          </div>
        </td>
        <td>
          <div class="card-content">
            <div class="product-info-box">
              <div class="title">
                <a href=""
                  >기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처 기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처기아
                  신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처</a
                >
              </div>
              <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
              <div class="bdg-box">
                <span class="orange">SK인증중고차</span>
                <span class="line-block">HOT</span>
                <span class="line-green">무사고</span>
                <span class="green">HOT</span>
              </div>
            </div>
            <div class="price-box">
              <div class="price"><span>2,196</span><em class="unit">만원</em></div>
              <div class="sale">40% 할인</div>
            </div>
          </div>
        </td>
        <td>
          <div class="date-visit">2023년 09월 23일 <br />오전 10:00</div>
        </td>
        <td>
          <div class="status home-confirm"><span class="hide-txt">접수확정</span></div>
        </td>
      </tr>
      <tr class="status-cancel">
        <td>
          <div class="ask-date">2023년 09월 23일</div>
        </td>
        <td>
          <div class="card-thum">
            <a class="product-img">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSN4LRfl1sZo1oebRKEQqkUKT3CAOfN-M2iYC0lpSPpOOIohZWrmR272lotbcHfvFplzKM&usqp=CAU"
                onerror="this.style.display='none';"
                alt="상품이미지"
              />
            </a>
          </div>
        </td>
        <td>
          <div class="card-content">
            <div class="product-info-box">
              <div class="title"><a>기아 신형 쏘렌토 (MQ4) 2.2 디젤 2WD 시그니처, tr class status-cancel 추가</a></div>
              <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
              <div class="bdg-box">
                <span class="orange">SK인증중고차</span>
                <span class="line-block">HOT</span>
                <span class="line-green">무사고</span>
                <span class="green">HOT</span>
              </div>
            </div>
            <div class="price-box">
              <div class="price"><span>2,196</span><em class="unit">만원</em></div>
              <div class="sale">40% 할인</div>
            </div>
          </div>
        </td>
        <td>
          <div class="date-visit">2023년 09월 23일 <br />오전 10:00</div>
        </td>
        <td>
          <div class="status home-cancel"><span class="hide-txt">접수취소</span></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
