<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../comm/css/style.css" />

    <script src="../../js/include.js"></script>
  </head>
  <body>
    <div class="wrap login">
      <div class="login_wrap">
        <div class="logo"></div>

        <div class="form">
          <div class="form-control">
            <div class="form-control-label">
              <span>아이디</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="search" placeholder="아이디를 입력해주세요." />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error">에러 메세지</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-control-label">
              <span>비밀번호</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="password" placeholder="비밀번호를 입력해주세요." />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error on">에러 메세지</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-control-container">
              <button type="button" class="btnLogin btn-primary">로그인</button>
            </div>
          </div>
        </div>

        <div class="login-more">
          <a href="">회원가입</a>
          <span class="bar"></span>
          <button type="button" data-rel="find-id" onclick="popView();">아이디찾기</button>
          <span>/</span>
          <button type="button" data-rel="pw-reset" onclick="popView();">비밀번호 재설정</button>
        </div>

        <div class="login-sns">
          <p class=""><span>간편 로그인</span></p>
          <div class="sns-box">
            <a href="" class="kakao" title="카카오톡 연동 로그인"></a>
            <a href="" class="naver" title="네이버 연동 로그인"></a>
            <a href="" class="apple" title="애플 연동 로그인"></a>
          </div>
        </div>

        <div class="banner">
          <div class="">
            <img src="../../img/members/banner_sample.svg" />
          </div>
        </div>
      </div>

      <div class="copyright">Copyright SKRUC. All Rights Reserved.</div>
    </div>
  </body>
  <!-- 비밀번호 변경 -->
  <div class="popup-wrap pop-members pw-reset" style="display: block">
    <div class="pop-box">
      <div class="pop-header">
        <h2><span class="hide-txt">비밀번호 재설정</span></h2>
        <button class="pop-close" onclick="popClose();"><span class="hide-txt">팝업닫기</span></button>
      </div>

      <div class="pop-content">
        <p class="title">새로운 비밀번호를<br />입력해주세요.</p>
        <div class="form">
          <div class="form-control">
            <div class="form-control-label">
              <span>비밀번호</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="password" placeholder="영문, 숫자, 특수문자 포함 10~20자 이내" class="disabled" />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error">에러 메세지</div>
            </div>
          </div>

          <div class="form-control">
            <div class="form-control-label">
              <span>비밀번호 확인</span>
            </div>
            <div class="form-control-container">
              <div class="form-control-content">
                <div class="form-control-input">
                  <input type="password" placeholder="비밀번호를 다시 입력해주세요" />
                  <button class="btnClear"></button>
                </div>
              </div>
              <div class="error on">비밀번호가 일치하지 않습니다.</div>
            </div>
          </div>
        </div>

        <div class="btn-box">
          <button class="btn-primary" disabled>변경완료</button>
        </div>
        <div class="btn-box">
          <button class="btn-primary">변경완료</button>
        </div>
      </div>
    </div>
  </div>
  <!-- //비밀번호 변경 -->
  <script type="text/javascript" src="../../js/ui.js"></script>
  <script>
    includeHTML();
  </script>
</html>
