<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />

    <script src="include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap">
        <!-- header -->
        <header>
          <div class="header-logo">
            <div class="logo">
              <a href="#" class="logo-link">
                <h1 class="hide-txt">SK렌터카</h1>
              </a>
              <span class="logo-title">소매몰</span>
            </div>
          </div>
          <!-- 탁송/경매 에서만 사용-->
          <div class="ptn-gnb">
            <div class="menu"><a href="">탁송리스트</a></div>
            <div class="menu active"><a href="">탁송리스트</a></div>
          </div>
          <!-- //탁송/경매 에서만 사용-->

          <div class="header-util">
            <div class="header-util-button">
              <button type="button" class="button-mymenu" title=""><span class="hide-txt">마이메뉴</span></button>
            </div>
            <div class="header-util-button active">
              <button type="button" class="button-search" title=""><span class="hide-txt">검색</span></button>
            </div>
            <div class="header-util-button new">
              <span class="bullet">N</span>
              <button type="button" class="button-arlam" title=""><span class="hide-txt">알림</span></button>
            </div>
            <div class="header-util-button">
              <button type="button" class="button-gnb" title=""><span class="hide-txt">메뉴</span></button>
            </div>
          </div>

          <nav class="gnb">gnb</nav>
        </header>
        <!-- //header -->

        <!-- 상단 이벤트영역 -->
        <article class="top-bar">
          <div class="wrap-top-bar">
            <div class="site-menu">
              <div class="site"><a href="" title="양도">양도</a></div>
              <div class="site active"><a href="" class="active" title="소매 POST">소매 POST</a></div>
              <div class="site"><a href="" title="소매위탁">소매위탁</a></div>
              <div class="site"><a href="" title="단지제휴">단지제휴</a></div>
              <div class="site"><a href="" title="폐차공매">폐차공매</a></div>
            </div>
            <div class="top-bar-content">
              <div class="user-name"><span>홍길동</span>님</div>

              <div class="bar"></div>
              <a href="" title="로그아웃">로그아웃</a>
              <div class="bar"></div>
              <a href="" title="로그인">로그인</a>
              <div class="bar"></div>
              <a href="" title="회원가입">회원가입</a>
              <div class="bar"></div>

              <!-- dropdown - 고객센터 -->
              <div class="dropdown-box drop-cstm">
                <div class="dropdown">
                  <div class="droped-value">고객센터</div>
                  <div class="arrow"></div>
                </div>
                <ul>
                  <li class="option"><a href="">고객센터</a></li>
                  <li class="option"><a href="">자주하는 질문</a></li>
                  <li class="option"><a href="">공지사항</a></li>
                </ul>
              </div>
              <!-- //dropdown - 고객센터 -->
            </div>
          </div>
        </article>
        <script></script>

        <!-- 상단 이벤트영역 -->
      </div>
      <!-- headerWrap -->

      <main>
        <!-- <aside w3-include-html="./include/aside.html"></aside> -->

        <article>
          <section>
            <div class="page-title">
              <h2 class="title">페이지 타이틀</h2>
              <p class="title-desc">페이지 설명</p>
            </div>
          </section>
          <section>컨텐츠</section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="./include/FP2-RT3200.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer>
        <div class="footer-layer layer1">
          <!-- 푸터로고 -->
          <div class="footer_logo" title="SK렌터카"></div>
          <!-- //푸터로고 -->

          <!-- -->
          <div class="company-info">
            <div class="customer-group">
              <a href="https://company.skcarrental.com/" target="_blank" title="회사소개 이동">회사소개</a>
              <a href="" title="서비스 이용약관 이동">서비스 이용약관</a>
              <a href="" title="개인정보 처리방침 이동"><strong>개인정보 처리방침</strong></a>
              <a href="" title="이메일무단수집거부 이동">이메일무단수집거부</a>
            </div>

            <div class="info-detail">
              <div class="more-view"><button onclick="moreView();">사업자 정보</button><span></span></div>
              <p>SK렌터카(주)</p>
              <span class="bar"></span>
              <address>서울특별시 구로구 서부샛길 822</address>
              <span class="bar pc"></span>

              <p class="br mo"></p>
              <p><span>대표이사</span>황일문</p>
              <span class="bar mo"></span>
              <p><span>사업자번호</span>113-81-32864</p>
              <span class="bar pc"></span>
              <p class="br mo"></p>
              <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=1138132864&apv_perm_no" target="_blank" title="통신판매업신고 새창이동"><span>통신판매업신고</span>구로구청 제2006-03389</a>
              <p class="rep-tel pc">SK렌터카 대표번호 1599-9111</p>
            </div>
          </div>

          <!-- 사이트이동그룹 -->
          <div class="link-group">
            <!-- 소셜미디어 -->
            <div class="sns-group">
              <a href="https://bit.ly/3bHtyMe" target="_blank" title="유튜브 새창열림" class="youtube"><span class="hide-txt">유튜브</span></a>
              <a href="https://www.instagram.com/skrentacar_official" target="_blank" title="인스타그램 새창열림" class="insta"><span class="hide-txt">인스타그램</span></a>
              <a href="https://blog.naver.com/skrentacar_official" target="_blank" title="블로그 새창열림" class="blog"><span class="hide-txt">블로그</span></a>
              <a href="https://www.facebook.com/SKRentacarsns" target="_blank" title="페이스북 새창열림" class="facebook"><span class="hide-txt">페이스북</span></a>
            </div>
            <!-- //소셜미디어 -->

            <!-- 패밀리사이트 -->
            <div class="select FamilySite">
              <div class="selected">
                <div class="selected-value">FamilySite</div>
                <div class="arrow"></div>
              </div>
              <ul>
                <li class="option">
                  <a href="https://www.skcarrental.com/rent/rentcar/short_rent_reservation_new_jeju.do" target="_blank" title="SK렌터카 제주도 단기예약 새창열림">SK렌터카 제주도 단기예약</a>
                </li>
                <li class="option">
                  <a href="https://www.skcarrental.com/rent/rentcar/short_rent_reservation_new.do" target="_blank" title="SK렌터카 내륙지역 단기예약 새창열림">SK렌터카 내륙지역 단기예약</a>
                </li>
                <li class="option"><a href="https://smartcare.skcarrental.com/" target="_blank" title="스마트케어 새창열림">스마트케어</a></li>
              </ul>
            </div>
            <!-- //패밀리사이트 -->
          </div>
          <!-- //사이트이동그룹 -->
        </div>

        <div class="footer-layer layer2">
          <div class="contact-info">
            <!-- <a href=""> -->
            <h6>다이렉트 상담센터</h6>
            <a href="tel:1599-3651">1599-3651</a>
            <span
              ><strong>평일 09:00 ~ 18:00</strong> (토요일 및 공휴일 휴무) <span class="pc">/</span> <br class="mo" />
              장기렌터카 이용 문의/상담</span
            >
            <!-- </a> -->
          </div>
          <div class="contact-info customer">
            <a href="">
              <h6>SK렌터카 고객센터</h6>
              <a href="tel:1599-9111">1599-9111</a>
              <span><strong>평일 09:00 ~ 18:00</strong> (토요일 및 공휴일 휴무)<em class="pc"> / </em></span>
              <span><strong class="fw_b">ARS 1번</strong> 사고접수<em class="bar"></em><strong class="fw_b">ARS 2번</strong> 긴급출동, 사고/정비 문의</span>
            </a>
          </div>
        </div>

        <div class="footer-layer layer3">
          <p class="copyright">Copyright ⓒ SK렌터카. All Rights Reserved.</p>
        </div>

        <div class="footer-solid">
          <p class="copyright">Copyright ⓒ SK렌터카. All Rights Reserved.</p>
        </div>
      </footer>
      <!-- //footer -->
    </div>
  </body>

  <div class="header-search">
    <form class="search-form">
      <div class="search-form-content">
        <input class="search-form-content-input" placeholder="원하시는 차량을 검색해주세요." />
        <button class="search-form-content-button"><span class="hide-txt">차량검색 버튼</span></button>
      </div>
    </form>

    <div class="search-results">
      <a href="" class="" title=""><span>#</span>SK인증 중고차</a>
      <a href="" class="" title=""><span>#</span>합리적인 가격</a>
      <a href="" class="" title=""><span>#</span>고급 세단</a>
      <a href="" class="" title=""><span>#</span>전기차</a>
      <a href="" class="" title=""><span>#</span>소형차</a>
      <a href="" class="" title=""><span>#</span>보증 중고차</a>
      <a href="" class="" title=""><span>#</span>SUV</a>
    </div>
  </div>
  <script src="../../../assets/pc/js/ui.js"></script>
  <script>
    includeHTML();

    filterArcoddian();

    // 패밀리사이트 셀렉트박스 스크립트
    const familyElements = document.querySelectorAll(".FamilySite");

    function toggleSelectBox(familyBox) {
      familyBox.classList.toggle("active");
    }

    familyElements.forEach((familyBoxElement) => {
      familyBoxElement.addEventListener("click", function (e) {
        const targetElement = e.target;
        const isOptionElement = targetElement.classList.contains("option");

        if (isOptionElement) {
          selectOption(targetElement);
        }

        toggleSelectBox(familyBoxElement);
      });
    });

    document.addEventListener("click", function (e) {
      const targetElement = e.target;
      const isSelect = targetElement.classList.contains("select") || targetElement.closest(".FamilySite");

      if (isSelect) {
        return;
      }

      const allFamilyElements = document.querySelectorAll(".FamilySite");

      allFamilyElements.forEach((boxElement) => {
        boxElement.classList.remove("active");
      });
    });

    // 모바일 사업자정보 펼침 토글
    function moreView() {
      let menu = document.querySelector(".info-detail");
      menu.classList.toggle("active");
    }
  </script>
</html>
