<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />

    <title>IA - 소매몰</title>
    <!-- <link rel="stylesheet" type="text/css" href="/src/assets/fonts.css" /> -->
    <link href="../../../assets/pc/img/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" type="text/css" href="../../../assets/pc/css/style.css" />
    <link rel="stylesheet" type="text/css" href="list.css" />

    <script src="include.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/languages/go.min.js"></script>

    <script>
      hljs.highlightAll();
    </script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <!-- <div class="header_wrap" w3-include-html="./include/header.html"></div> -->
      <!-- headerWrap -->

      <main class="pt40">
        <article>
          <section class="ia_list">
            <table>
              <colgroup>
                <col width="60px" />
                <col width="300px" />
                <col width="200px" />
                <col width="90px" />
                <col width="90px" />
                <col width="auto" />
              </colgroup>
              <thead>
                <tr>
                  <th>No.</th>
                  <th>화면명</th>
                  <th>ID</th>
                  <th>완료일</th>
                  <th>수정일</th>
                  <th>비고</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td></td>
                  <td>레이아웃</td>
                  <td><a href="layout.html">layout.html</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>소매몰 메인</td>
                  <td><a href="FP2-RT1100.html">FP2-RT1100.html</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">로그인</td>
                  <td>
                    <a href="FP2-RT2100.html" target="_blank">FP2-RT2100.html</a>
                  </td>
                  <td>23.08.29</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">아이디 찾기/비밀번호 재설정</td>
                  <td>
                    <a href="FP2-RT2111.html" target="_blank">FP2-RT2110.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">비밀번호 재설정</td>
                  <td>
                    <a href="FP2-RT2110.html" target="_blank">FP2-RT2111.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">회원가입</td>
                  <td>
                    <a href="FP2-RT2200.html" target="_blank">FP2-RT2200.html</a>
                  </td>
                  <td>23.09.06</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>개인정보 수집 및 이용동의(필수)</td>
                  <td>
                    <a href="FP2-RT2221.html" target="_blank">FP2-RT2221.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>SK렌터카 다이렉트 이용약관(필수)</td>
                  <td>
                    <a href="FP2-RT2222.html" target="_blank">FP2-RT2222.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>마케팅 활용 동의(선택)</td>
                  <td>
                    <a href="FP2-RT2223.html" target="_blank">FP2-RT2223.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">회원가입완료</td>
                  <td>
                    <a href="FP2-RT2230.html" target="_blank">FP2-RT2230.html</a>
                  </td>
                  <td>23.09.11</td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td class="cmd">공지사항(고객센터 메인)</td>
                  <td>
                    <a href="FP2-RT2310.html" target="_blank">FP2-RT2310.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">공지사항 - 목록</td>
                  <td>
                    <a href="FP2-RT2310.html" target="_blank">FP2-RT2311.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">상세</td>
                  <td>
                    <a href="FP2-RT2312.html" target="_blank">FP2-RT2312.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">자주하는질문</td>
                  <td>
                    <a href="FP2-RT2310.html" target="_blank">FP2-RT2331.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>마이페이지</td>
                  <td>
                    <a href="FP2-RT3100.html" target="_blank">FP2-RT3100.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>관심(찜) 차량 목록</td>
                  <td>
                    <a href="F P2-RT3110.html" target="_blank">FP2-RT3110.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>최근 본 차량 목록</td>
                  <td>
                    <a href="FP2-RT3120.html" target="_blank">FP2-RT3120.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>방문예약 신청내역</td>
                  <td>
                    <a href="FP2-RT3130.html" target="_blank">FP2-RT3130.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">내정보수정</td>
                  <td>
                    <a href="FP2-RT3140.html" target="_blank">FP2-RT3140.html</a>
                  </td>
                  <td>23.10.16</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>구매후기 작성 > 구매후기 목록</td>
                  <td>
                    <a href="FP2-RT3150.html" target="_blank">FP2-RT3150.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>구매후기 작성</td>
                  <td>
                    <a href="FP2-RT3160.html" target="_blank">FP2-RT3160.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>회원탈퇴</td>
                  <td>
                    <a href="FP2-RT3180.html" target="_blank">FP2-RT3180.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>비밀번호 확인</td>
                  <td>
                    <a href="FP2-RT3190.html" target="_blank">FP2-RT3190.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>퀵메뉴</td>
                  <td>
                    <a href="FP2-RT3200.html" target="_blank">FP2-RT3200.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>차량 검색</td>
                  <td>
                    <a href="FP2-RT3300.html" target="_blank">FP2-RT3300.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>검색결과</td>
                  <td>
                    <a href="FP2-RT3400.html" target="_blank">FP2-RT3400.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>차량 목록 > 목록</td>
                  <td>
                    <a href="FP2-RT3510.html" target="_blank">FP2-RT3510.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>비교하기</td>
                  <td>
                    <a href="FP2-RT3520.html" target="_blank">FP2-RT3520.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>방문예약</td>
                  <td>
                    <a href="FP2-RT3530.html" target="_blank">FP2-RT3530.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>차량 상세</td>
                  <td>
                    <a href="FP2-RT3540.html" target="_blank">FP2-RT3540.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>프리미엄 진단 리포트</td>
                  <td>
                    <a href="FP2-RT3550.html" target="_blank">FP2-RT3550.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>성능상태 점검기록 정보</td>
                  <td>
                    <a href="FP2-RT3560.html" target="_blank">FP2-RT3560.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>보험사고 이력 정보</td>
                  <td>
                    <a href="FP2-RT3570.html" target="_blank">FP2-RT3570.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>이벤트 - 진행중 이벤트</td>
                  <td>
                    <a href="FP2-RT3610.html" target="_blank">FP2-RT3610.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>종료된 이벤트</td>
                  <td>
                    <a href="FP2-RT3610.html" target="_blank">FP2-RT3610.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>이벤트 상세</td>
                  <td>
                    <a href="FP2-RT3620.html" target="_blank">FP2-RT3620.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>구매후기</td>
                  <td>
                    <a href="FP2-RT3700.html" target="_blank">FP2-RT3700.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">회사소개</td>
                  <td><a>link</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">서비스 이용약관</td>
                  <td>
                    <a href="FP2-RT4200.html" target="_blank">FP2-RT4200.html</a>
                  </td>
                  <td>23.10.03</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">개인정보처리방침</td>
                  <td>
                    <a href="FP2-RT4300.html" target="_blank">FP2-RT4300.html</a>
                  </td>
                  <td>23.10.03</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">알기쉬운 개인정보처리방침</td>
                  <td>
                    <a href="FP2-RT4700.html" target="_blank">FP2-RT4700.html</a>
                  </td>
                  <td>23.10.03</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">이메일무단수집거부</td>
                  <td>
                    <a href="FP2-RT4400.html" target="_blank">FP2-RT4400.html</a>
                  </td>
                  <td>23.10.03</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">통신판매업신고확인</td>
                  <td><a>link</a></td>
                  <td>N/A</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">패밀리 사이트</td>
                  <td><a>link</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">오류화면 (404)</td>
                  <td>
                    <a href="FP2-RT5100.html" target="_blank">FP2-RT5100.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">오류화면 (500)</td>
                  <td>
                    <a href="FP2-RT5200.html" target="_blank">FP2-RT5200.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">정기점검 안내</td>
                  <td>
                    <a href="FP2-RT5300.html" target="_blank">FP2-RT5300.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">분기별 비밀번호 변경</td>
                  <td>
                    <a href="FP2-RT5400.html" target="_blank">FP2-RT5400.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>알림</td>
                  <td>
                    <a href="FP2-RT5500.html" target="_blank">FP2-RT5500.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">메인 팝업</td>
                  <td>
                    <a href="FP2-RT5600.html" target="_blank">FP2-RT5600.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td>본인인증 안내</td>
                  <td>
                    <a href="FP2-RT5800.html" target="_blank">FP2-RT5800.html</a>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td></td>
                  <td class="cmd">탁송상세</td>
                  <td><a href="FTB-TBD100.html" target="_blank">FTB-TBD100.html</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="cmd">로그아웃</td>
                  <td><a>link</a></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </section>
        </article>

        <!-- quick -->
        <!-- <article class="quick" w3-include-html="./include/quick.html"></article> -->
        <!-- //quick -->
      </main>

      <!-- footer -->
      <!-- <footer w3-include-html="./include/footer.html"></footer> -->
      <!-- //footer -->
    </div>
  </body>
  <script src="../../../assets/pc/js/ui.js"></script>

  <script>
    includeHTML();
  </script>
</html>
