@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Thin.woff") format("woff"), url("../../fonts/Pretendard-Thin.woff2") format("woff2");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../../fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Light.woff") format("woff"), url("../../fonts/Pretendard-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Regular.woff") format("woff"), url("../../fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Medium.woff") format("woff"), url("../../fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-SemiBold.woff") format("woff"), url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Bold.woff") format("woff"), url("../../fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Black.woff") format("woff"), url("../../fonts/Pretendard-Black.woff2") format("woff2");
  font-weight: 900;
  font-display: swap;
}
