.badge {
  display: inline-flex;
  padding: 0px 13px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: var(--bdr-red);
  color: #fff;
  text-align: center;
}
