/**************************************************************************************************
*** cards
**************************************************************************************************/
.card-box {
  position: relative;

  .card-bullet {
    position: absolute;
    left: 8px;
    top: -18px;

    width: 36px;
    height: 36px;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 36px;
  }
  .card {
    width: inherit;

    .card-thum {
      width: 100%;
    }

    .btn-box {
      display: flex;
      gap: 0 10px;
      button {
        background: #eceef0;
        padding: 12px 16px;
      }
    }
  }
}

.card-box.r-colm {
  .cards {
    display: flex;
    flex-flow: column-reverse;
  }
}

.product-list {
  display: flex;
  gap: 40px 32px;
  flex-wrap: wrap;

  .card-box {
    width: calc(33.3% - 21.3px);
  }
}

.card-box {
  display: flex;
  position: relative;
  .card-bullet {
    position: absolute;
    left: 8px;
    top: -18px;

    width: 36px;
    height: 36px;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 36px;
  }
  .card-thum {
    position: relative;
    .product-img {
      display: block;
      position: absolute;
      width: 230px;
      padding-top: 65.21%;
      border-radius: 8px;
      position: relative;
      background: 50% 50% no-repeat;
      background-size: auto 100%;
      background-color: #d4d7dc;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='146' height='146' viewBox='0 0 146 146' fill='none'%3E%3Cpath d='M134.173 63.536H125.431C124.503 63.536 123.714 63.9973 123.18 64.6709C122.394 62.1524 121.205 59.0908 119.269 55.3768L109.161 35.9873C108.961 35.5989 104.479 27.4851 95.5827 27.4851H50.4166C41.5199 27.4851 37.0411 35.5989 36.8378 35.9873L26.7305 55.3768C24.7916 59.0938 23.6051 62.1554 22.8192 64.6739C22.2852 63.9972 21.4932 63.536 20.5677 63.536H11.8259C8.60644 63.536 6 66.1425 6 69.3589V72.2719C6 73.8832 7.30476 75.1879 8.91599 75.1879H20.5677C20.8772 75.1879 21.1535 75.103 21.4326 75.012L21.4174 115.481C21.4174 117.159 22.7738 118.515 24.4518 118.515H36.5891C37.7391 118.515 38.7041 117.851 39.2199 116.91C39.4535 116.476 39.6235 116.009 39.6235 115.481V112.447C39.6235 112.447 39.6235 109.412 42.6578 109.412H103.345C103.345 109.412 106.379 109.412 106.379 112.447V115.481C106.379 116.009 106.549 116.479 106.785 116.91C107.298 117.854 108.263 118.515 109.413 118.515H121.551C123.229 118.515 124.585 117.159 124.585 115.481L124.567 75.012C124.846 75.1 125.125 75.1879 125.431 75.1879H137.083C138.695 75.1879 139.999 73.8832 139.999 72.2719V69.3589C139.999 66.1425 137.39 63.536 134.173 63.536ZM104.862 106.378H41.1406C40.3032 106.378 39.6235 105.698 39.6235 104.861C39.6235 104.023 40.3032 103.344 41.1406 103.344H104.862C105.699 103.344 106.379 104.023 106.379 104.861C106.379 105.698 105.699 106.378 104.862 106.378Z' fill='white'/%3E%3Cpath d='M77.864 79.3591H74.024V77.2201H77.3518V74.15C77.3518 73.9664 77.3163 73.7924 77.2454 73.6217C77.1778 73.451 77.0747 73.2996 76.9426 73.174C76.8138 73.0451 76.6592 72.9452 76.4884 72.8743C76.3209 72.8067 76.1372 72.7712 75.9568 72.7745H72.117V74.0501H75.4446V75.8703H72.117V79.2561C72.117 79.6201 72.2618 79.9712 72.5228 80.229C72.7837 80.4867 73.1317 80.6316 73.5022 80.6316H77.8544L77.864 79.3591Z' fill='%23BDC0C7'/%3E%3Cpath d='M76.5559 83.7272V81.3595H74.6746V83.6531C74.6746 84.0171 74.8196 84.3682 75.0773 84.6291C75.335 84.8901 75.686 85.0383 76.0565 85.0383H83.5463V83.766L76.5559 83.7272Z' fill='%23BDC0C7'/%3E%3Cpath d='M83.262 72.7617H81.4226V81.4981H83.262V72.7617Z' fill='%23BDC0C7'/%3E%3Cpath d='M80.6552 72.7617H78.8127V75.9186H77.8237V77.1943H78.8127V81.4724H80.6552V72.7617Z' fill='%23BDC0C7'/%3E%3Cpath d='M110.183 76.1504V72.7743H108.289V85.0513H108.788C108.969 85.0545 109.149 85.0191 109.32 84.9514C109.491 84.8838 109.642 84.7806 109.774 84.6518C109.903 84.5229 110.006 84.3716 110.077 84.204C110.144 84.0333 110.183 83.8593 110.183 83.6757V77.4584H111.668V76.1827L110.183 76.1504Z' fill='%23BDC0C7'/%3E%3Cpath d='M99.5324 74.0981H104.152V76.1502H99.5454V77.4226H104.088C104.033 78.3278 103.646 79.1783 103.002 79.8194C102.361 80.4605 101.504 80.8439 100.592 80.8986H98.9141V82.1743H100.631C102.058 82.1775 103.43 81.617 104.445 80.6216C105.46 79.6197 106.037 78.2635 106.046 76.8396V72.7129H99.5324V74.0981Z' fill='%23BDC0C7'/%3E%3Cpath d='M94.9215 72.7872V76.1504H93.3237V77.4228H94.9215V85.0609H95.4207C95.6043 85.0609 95.7848 85.0288 95.9524 84.9579C96.1231 84.8902 96.2746 84.7839 96.4034 84.6582C96.5323 84.5262 96.632 84.3748 96.7029 84.204C96.7705 84.0365 96.8061 83.8593 96.8061 83.6757V72.7872H94.9215Z' fill='%23BDC0C7'/%3E%3Cpath d='M85.7735 74.1628V80.087C85.7735 80.4478 85.9218 80.8022 86.1795 81.0599C86.4404 81.3176 86.7916 81.4626 87.1589 81.4626H93.2634V80.1869H87.6612V77.4615H92.2551V76.1858H87.6612V74.0983H93.2634V72.8258H87.1589C86.7949 72.8258 86.4404 72.9707 86.1795 73.2285C85.9218 73.4862 85.7735 73.8341 85.7735 74.2013' fill='%23BDC0C7'/%3E%3Cpath d='M40.8469 75.6801C39.568 75.0809 38.492 74.5848 38.492 73.6022C38.492 72.8516 39.0977 72.3297 40.2993 72.3297C40.6891 72.3297 41.0788 72.3685 41.4621 72.4426C41.6554 72.4554 41.8455 72.4554 42.0388 72.4426C43.089 72.4426 43.6786 71.8176 44.0748 70.6321L44.2424 70.1618C42.9409 69.627 41.5427 69.3435 40.1349 69.3306C36.5785 69.3306 34.7068 71.5984 34.7068 73.9565C34.6714 74.952 35.0162 75.9216 35.6669 76.6819C36.4691 77.5034 37.4322 78.1573 38.4953 78.6051C39.9546 79.3202 41.2722 79.8775 41.2722 80.8955C41.2722 81.9135 40.2992 82.3743 38.9945 82.3743C37.7317 82.3131 36.511 81.9231 35.4479 81.2402L33.9756 83.9655C35.5734 84.8837 37.3935 85.354 39.2362 85.3153C42.5511 85.3153 45.0605 83.4179 45.0605 80.5154C45.0605 77.6129 42.7316 76.5435 40.8503 75.6382' fill='%23BDC0C7'/%3E%3Cpath d='M53.8129 77.0301L59.8144 69.7109H55.5428L50.7429 76.0797H50.6784V69.7109H47.1445V85.1834H47.3474C48.1463 85.264 48.9484 85.0289 49.5733 84.5263C50.1983 84.0205 50.5978 83.2926 50.688 82.4936C50.7009 82.3068 50.7009 82.1231 50.688 81.9362V78.3701H50.7653L55.6523 84.9805H60.1333L53.8129 77.0301Z' fill='%23BDC0C7'/%3E%3Cpath d='M60.021 53.0626C59.2028 53.1914 58.4554 53.5908 57.8981 54.1996C57.3343 54.8053 56.9992 55.5817 56.938 56.4032C56.938 58.2104 58.4232 59.3057 58.4361 61.6638C58.4425 62.395 58.2557 63.1102 57.8981 63.7448C57.5373 64.3827 57.0219 64.9142 56.3873 65.2879C56.8093 65.2879 57.2828 65.2234 57.8078 65.2234C58.4038 65.2137 58.9965 65.2557 59.5892 65.3363L65.156 58.5261C63.7643 56.4386 62.0344 54.5896 60.0371 53.0626' fill='%23BDC0C7'/%3E%3Cpath d='M64.6957 71.4502C65.3529 70.0134 65.6492 68.4382 65.5526 66.8662C65.6202 65.2232 65.965 63.9766 68.1749 63.9766C68.6613 63.9766 69.1348 63.9766 69.982 63.9766C72.3305 63.967 74.637 63.3226 76.6504 62.1178C73.2003 59.9111 69.2251 58.658 65.1306 58.4744C64.8085 59.3635 62.3408 66.193 62.1475 66.7374C62.5308 67.1948 62.869 67.6844 63.1557 68.203C63.7678 69.2081 64.2768 70.2745 64.6569 71.3859' fill='%23BDC0C7'/%3E%3Cpath d='M52.9266 65.8772C52.6431 65.8772 52.5015 65.6807 52.4628 65.365C52.4241 65.0493 51.0293 52.3536 50.8263 50.4304C50.8263 50.1469 50.7231 49.6379 50.7231 49.4607C50.7134 49.3512 50.7457 49.2417 50.8134 49.1547C50.881 49.0678 50.9842 49.0129 51.0937 49C54.0188 49.538 56.7827 50.7364 59.1698 52.505C58.3096 52.7208 57.543 53.2104 56.9857 53.8998C56.4284 54.5892 56.1127 55.4398 56.0869 56.3257C56.0869 58.41 57.5977 59.56 57.6105 61.6443C57.6105 65.059 53.6806 65.874 52.872 65.8837' fill='%23BDC0C7'/%3E%3Cpath d='M65.0071 72.3553C65.0071 72.4809 65.1263 72.6065 65.1908 72.7322C65.223 72.7998 65.2681 72.8515 65.3325 72.8869C65.397 72.9256 65.4646 72.9417 65.5355 72.9384C65.6482 72.9384 65.7578 72.9126 65.8577 72.8643L79.5424 66.4987C79.8001 66.3731 80.2833 66.154 80.438 66.0638C80.5346 66.0154 80.6117 65.9318 80.6472 65.832C80.689 65.7321 80.6826 65.6193 80.6375 65.5162C79.7065 64.4144 78.6145 63.4577 77.4 62.6782C75.1997 64.015 72.6807 64.7431 70.1036 64.7753C69.2563 64.7753 69.0661 64.7753 68.4895 64.7753C66.7886 64.7753 66.3667 65.5034 66.3119 66.9788C66.3119 67.2623 66.3119 67.6424 66.3119 68.0483C66.3635 69.5978 65.9125 71.1248 65.0362 72.407' fill='%23BDC0C7'/%3E%3C/svg%3E");
      img {
        // width: 100%;
        // height: 100%;
        border-radius: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        object-fit: cover;
        max-width: inherit;
        min-width: 100%;
        height: 100%;
        filter: blur(0.4px);
      }
    }
  }
  .card-content {
    padding-left: 28px;
    width: 100%;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .product-info-box {
      width: 100%;
      .title {
        // a,
        // button {
        width: 100%;
        color: var(--txt-defult);
        font-size: 20px;
        font-weight: 700;
        line-height: 130%;
        display: -webkit-box;
        width: 100%;
        color: #000;
        letter-spacing: -0.3px;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-align: left;
        // }
      }
      .resource-box {
        width: 100%;
        margin-top: 10px;
        color: var(--txt-info);
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
        letter-spacing: -0.5px;

        span {
          position: relative;
        }
        span + span {
          padding-left: 20px;
        }
        span + span:before {
          content: "";
          display: inline-block;
          width: 2px;
          height: 2px;
          border-radius: 2px;
          background-color: var(--txt-info);
          position: absolute;
          left: 8px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .bdg-box {
        width: 100%;
        margin-top: 10px;
        display: flex;
        gap: 5px;
        span {
          padding: 5px 10px;
          border-radius: 4px;
          font-size: 11px;
          font-weight: 700;
          // line-height: 16px;
          align-items: center;
          display: inline-flex;
        }
        .orange {
          background: #fa4e29;
          color: #fff;
        }
        .line-block {
          border: 1px solid #e5e9ea;
          background: #fff;
          color: var(--txt-sub);
        }
        .line-green {
          border: 1px solid #e5e9ea;
          background: #fff;
          color: #009a93;
        }
        .green {
          background: #42b2ad;
          color: #fff;
        }
      }
    }

    .price-box {
      display: flex;
      align-items: flex-end;
      gap: 12px;
      width: 100%;
      .price {
        color: var(--Text-default);
        font-size: 30px;
        font-weight: 700;
        line-height: 100%;
        .unit {
          padding-left: 4px;
          font-size: 13px;
          font-weight: 700;
          line-height: 130%;
        }
      }
      .sale {
        color: var(--txt-info);
        font-size: 14px;
        font-weight: 700;
        line-height: 130%;
      }
    }
  }
}

.card-box {
  .card-bullet {
  }
  .card-thum {
    .product-img {
      img {
      }
    }
  }
  .card-content {
    .product-info-box {
      .title {
      }
      .resource-box {
        span {
          .card-box {
            .card-bullet {
            }
            .card-thum {
              .product-img {
                img {
                }
              }
            }
            .card-content {
              .product-info-box {
                .title {
                }
                .resource-box {
                  span {
                  }
                  span + span {
                  }
                  span + span:before {
                  }
                }
                .bdg-box {
                  span {
                  }
                  .orange {
                  }
                  .line-block {
                  }
                  .line-green {
                  }
                  .green {
                  }
                }
              }

              .price-box {
                .price {
                  .unit {
                  }
                }
                .sale {
                }
              }
            }
          }
        }
        span + span {
        }
        span + span:before {
        }
      }
      .bdg-box {
        span {
        }
        .orange {
        }
        .line-block {
        }
        .line-green {
        }
        .green {
        }
      }
    }

    .price-box {
      .price {
        .unit {
        }
      }
      .sale {
      }
    }
  }
}
/**************************************************************************************************
  *** review
  **************************************************************************************************/
.review-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
}
.review-box {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid red;
  column-count: 4;

  .review-thum {
  }

  .review-contnet {
    .writer-info {
      display: flex;
      gap: 0 8px;
      .car {
      }
      .name {
      }
    }
    .title {
    }
    .review {
    }
    .review-point {
      .img-point {
      }
      .score {
      }
    }
  }
}
