/**************************************************************************************************
*** 일반게시판 - 리스트
**************************************************************************************************/

.board {
  width: 100%;
  border-top: 1px solid #2e3033;

  th {
    padding: 23px 0;
    border-bottom: 1px solid #b5b9c0;
    background: #f5f5f5;

    color: var(--txt-sub);
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
  }
  td {
    padding: 25px 0;
    border-bottom: 1px solid #b5b9c0;
    background-color: #fff;
    text-align: center;

    color: var(--txt-info);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    .badge {
      display: inline-flex;
      padding: 0px 13px;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background-color: var(--bdr-red);
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-weight: 700;
      line-height: 30px;
    }

    a {
      display: inline-block;
      width: 100%;
      color: var(--txt-sub);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;
      text-align: left;
      .category {
        color: inherit;
        font-weight: 700;
        margin-right: 8px;
      }
    }
  }
}

.board-wrap {
  width: 100%;
  position: relative;

  table {
    width: 100%;
    border-top: 1px solid #2e3033;

    th {
      padding: 23px 0;
      border-bottom: 1px solid #b5b9c0;
      background: #f5f5f5;

      color: var(--txt-sub);
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
    }
    td {
      padding: 25px 0;
      border-bottom: 1px solid #b5b9c0;
      background-color: #ffffff;
      text-align: center;

      color: var(--txt-info);
      font-size: 18px;
      font-weight: 400;
      line-height: 30px;

      .badge {
        display: inline-flex;
        padding: 0px 13px;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background-color: var(--bdr-red);
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
      }

      a {
        display: inline-block;
        width: 100%;
        color: var(--txt-sub);
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        text-align: left;
        .category {
          color: inherit;
          font-weight: 700;
          margin-right: 8px;
        }
      }
    }
  }
}

/**************************************************************************************************
*** 일반게시판 - 상세
**************************************************************************************************/
.board-view-wrap {
  width: 100%;

  .board-title {
    width: 100%;
    padding-bottom: 30px;
    border-bottom: 1px solid #d4d7dc;
    .title {
      color: var(--txt-defult);
      font-size: 30px;
      line-height: 44px;

      .category {
        font-weight: 700;
        margin-right: 8px;
      }
    }
    .writer-info {
      width: 100%;
      margin-top: 14px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      * {
        color: var(--txt-info);
        font-size: 16px;
        line-height: 24px;
      }

      .name {
      }
      .date {
      }
      .file {
        display: flex;
        flex-wrap: wrap;
        gap: 5px 10px;
        max-width: 50%;
      }
    }
    .file-box {
      width: 100%;
      display: flex;
      gap: 5px 10px;

      a {
        display: inline-flex;
        align-items: center;
        gap: 0 4px;
        border-bottom: 1px dotted #50555c;
        color: var(--txt-sub);
        font-size: 16px;
        line-height: 24px;
        &:hover {
          color: #fa4e29;
          border-bottom: 1px dotted #fa4e29;
        }
        .icon {
          width: 20px;
          height: 20px;
          background-size: 20px auto;

          &.excel {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4967 3.15015L2.63651 4.61636C2.51599 4.63902 2.40718 4.70311 2.32892 4.79754C2.25067 4.89196 2.2079 5.01078 2.20801 5.13342V15.9096C2.20839 16.0319 2.25139 16.1502 2.32961 16.2442C2.40782 16.3382 2.51635 16.402 2.63651 16.4246L10.4589 17.8529C10.5345 17.8666 10.6122 17.8635 10.6865 17.8439C10.7608 17.8244 10.83 17.7887 10.889 17.7396C10.9481 17.6905 10.9957 17.629 11.0285 17.5595C11.0613 17.49 11.0785 17.4141 11.0788 17.3373L11.1188 3.67079C11.1195 3.59322 11.103 3.51646 11.0705 3.44603C11.038 3.3756 10.9903 3.31325 10.9308 3.26347C10.8713 3.21368 10.8015 3.1777 10.7265 3.15811C10.6514 3.13851 10.573 3.1358 10.4967 3.15015ZM8.25709 13.1101L7.49292 13.0943C7.45228 13.0937 7.41271 13.0812 7.37909 13.0583C7.34546 13.0355 7.31925 13.0033 7.30366 12.9658L6.67876 11.4889C6.66284 11.4506 6.63592 11.4178 6.60142 11.3948C6.56691 11.3718 6.52635 11.3595 6.48486 11.3595C6.44337 11.3595 6.40281 11.3718 6.3683 11.3948C6.33379 11.4178 6.30688 11.4506 6.29096 11.4889L5.7389 12.8122C5.72212 12.8523 5.69334 12.8862 5.6565 12.9092C5.61966 12.9323 5.57659 12.9433 5.53322 12.9408L4.87332 12.9029C4.83785 12.901 4.80345 12.8902 4.77333 12.8714C4.7432 12.8525 4.71835 12.8264 4.70108 12.7954C4.68381 12.7643 4.6747 12.7294 4.6746 12.6939C4.67449 12.6584 4.6834 12.6234 4.70049 12.5923L5.8296 10.5212C5.84542 10.4911 5.85369 10.4577 5.85369 10.4237C5.85369 10.3897 5.84542 10.3563 5.8296 10.3262L4.78619 8.24509C4.76993 8.21303 4.76217 8.17734 4.76365 8.14143C4.76514 8.10552 4.77581 8.07059 4.79466 8.03999C4.81351 8.00938 4.8399 7.98413 4.8713 7.96665C4.90271 7.94917 4.93807 7.94004 4.97402 7.94013H5.6682C5.71119 7.9406 5.75306 7.954 5.78834 7.97858C5.82362 8.00317 5.85069 8.0378 5.86602 8.07797L6.4945 9.79199L6.52235 9.8177L7.3408 7.893C7.35604 7.85656 7.38131 7.82521 7.41368 7.80258C7.44605 7.77995 7.48417 7.76697 7.52363 7.76516L8.21923 7.73017C8.25639 7.72819 8.29341 7.73612 8.32649 7.75315C8.35957 7.77018 8.38754 7.7957 8.40752 7.82708C8.4275 7.85847 8.43878 7.89461 8.44021 7.93179C8.44163 7.96897 8.43315 8.00586 8.41563 8.03869L7.16297 10.4069L8.44849 12.7994C8.46628 12.8319 8.47516 12.8685 8.47421 12.9056C8.47326 12.9427 8.46252 12.9788 8.44307 13.0104C8.42363 13.0419 8.39618 13.0678 8.36352 13.0853C8.33085 13.1028 8.29413 13.1113 8.25709 13.1101Z' fill='%23FA4E29'/%3E%3Cpath d='M17.5371 4.80845H11.778C11.7107 4.80845 11.6462 4.83517 11.5987 4.88271C11.5512 4.93026 11.5244 4.99475 11.5244 5.06199V5.48335C11.5244 5.55059 11.5512 5.61508 11.5987 5.66263C11.6462 5.71017 11.7107 5.73688 11.778 5.73688H13.8777V7.18738H11.778C11.7107 7.18738 11.6462 7.21409 11.5987 7.26163C11.5512 7.30918 11.5244 7.37367 11.5244 7.44091V7.4759C11.5244 7.54314 11.5512 7.60763 11.5987 7.65518C11.6462 7.70272 11.7107 7.72944 11.778 7.72944H13.8777V9.17993H11.778C11.7107 9.17993 11.6462 9.20664 11.5987 9.25419C11.5512 9.30173 11.5244 9.36622 11.5244 9.43346V9.46845C11.5244 9.5357 11.5512 9.60018 11.5987 9.64773C11.6462 9.69528 11.7107 9.72199 11.778 9.72199H13.8777V11.1725H11.778C11.7107 11.1725 11.6462 11.1992 11.5987 11.2467C11.5512 11.2943 11.5244 11.3588 11.5244 11.426V11.461C11.5244 11.5282 11.5512 11.5927 11.5987 11.6403C11.6462 11.6878 11.7107 11.7145 11.778 11.7145H13.8777V13.165H11.778C11.7107 13.165 11.6462 13.1917 11.5987 13.2393C11.5512 13.2868 11.5244 13.3513 11.5244 13.4186V13.4536C11.524 13.4872 11.5302 13.5205 11.5427 13.5517C11.5552 13.5829 11.5738 13.6112 11.5974 13.6351C11.621 13.6591 11.6491 13.6781 11.6801 13.691C11.7111 13.704 11.7444 13.7107 11.778 13.7107H13.8777V15.1612H11.778C11.7107 15.1612 11.6462 15.1879 11.5987 15.2354C11.5512 15.283 11.5244 15.3474 11.5244 15.4147V15.9325C11.5244 15.9997 11.5512 16.0642 11.5987 16.1117C11.6462 16.1593 11.7107 16.186 11.778 16.186H17.5342C17.5676 16.1861 17.6006 16.1796 17.6315 16.1669C17.6623 16.1542 17.6904 16.1355 17.714 16.112C17.7376 16.0884 17.7563 16.0605 17.7691 16.0297C17.7819 15.9988 17.7885 15.9658 17.7885 15.9325V5.06199C17.7885 4.99512 17.7621 4.93095 17.715 4.88347C17.6679 4.83598 17.604 4.80902 17.5371 4.80845ZM14.3233 5.73688H16.7772V7.18738H14.3262L14.3233 5.73688ZM14.3233 7.72944H16.7772V9.17993H14.3262L14.3233 7.72944ZM14.3233 9.72199H16.7772V11.1725H14.3262L14.3233 9.72199ZM14.3233 11.7145H16.7772V13.165H14.3262L14.3233 11.7145ZM14.3233 13.7071H16.7772V15.1576H14.3262L14.3233 13.7071Z' fill='%23FA4E29'/%3E%3C/svg%3E%0A");
          }

          &.pdf {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' stroke-width='1.5' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M12 15a3 3 0 100-6 3 3 0 000 6z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M2 12h7M15 12h7' stroke='%23000000' stroke-width='1.5'%3E%3C/path%3E%3C/svg%3E");
          }
          &.zip {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' stroke-width='1.5' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M2 8l9.732-4.866a.6.6 0 01.536 0L22 8M20 11v8a2 2 0 01-2 2H6a2 2 0 01-2-2v-8' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
          }
          &.img {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' viewBox='0 0 24 24' stroke-width='1.5' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Cpath d='M9 18s.9-3.741 3-6M16.186 7.241l.374 3.89c.243 2.523-1.649 4.77-4.172 5.012-2.475.238-4.718-1.571-4.956-4.047a4.503 4.503 0 014.05-4.914l4.147-.4a.51.51 0 01.557.46z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath d='M21 3.6v16.8a.6.6 0 01-.6.6H3.6a.6.6 0 01-.6-.6V3.6a.6.6 0 01.6-.6h16.8a.6.6 0 01.6.6z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
          }
          &.hwp {
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='24px' height='24px' stroke-width='1.5' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' color='%23000000'%3E%3Ccircle cx='12' cy='12' r='10' stroke='%23000000' stroke-width='1.5'%3E%3C/circle%3E%3Cpath d='M7.633 3.067A3.001 3.001 0 114.017 6.32M22 13.05a3.5 3.5 0 10-3 5.914' stroke='%23000000' stroke-width='1.5'%3E%3C/path%3E%3Cpath d='M14.5 8.51l.01-.011M10 17a2 2 0 100-4 2 2 0 000 4z' stroke='%23000000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  .board-content {
    padding: 50px 0;
    border-bottom: 1px solid #d4d7dc;
  }

  .file-box-bottom {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: -1px;
    padding: 40px 0;
    border-top: 1px dashed #b5b9c0;
    border-bottom: 1px solid var(--grayscale-300, #b5b9c0);
    background: #fff;

    .title {
      width: 93px;
      display: inline-flex;
      align-items: center;
      font-size: 14px;
      color: var(--txt-info);
      font-weight: 700;
      line-height: 22px;

      .icon {
        display: inline-flex;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_813_28829)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.18201 20.4458C1.6436 17.9074 1.6436 13.7918 4.18201 11.2534L12.6673 2.76813C14.4246 1.01078 17.2739 1.01077 19.0313 2.76813C20.9839 4.72076 20.9839 7.88658 19.0313 9.8392L10.8995 17.9709C9.72795 19.1425 7.82846 19.1425 6.65688 17.9709C5.48531 16.7994 5.48531 14.8999 6.65688 13.7283L13.0208 7.36433C13.4114 6.9738 14.0445 6.9738 14.4351 7.36433C14.8256 7.75485 14.8256 8.38802 14.4351 8.77854L8.0711 15.1425C7.68057 15.533 7.68057 16.1662 8.0711 16.5567C8.46162 16.9472 9.09479 16.9472 9.48531 16.5567L17.617 8.42499C18.7886 7.25342 18.7886 5.35392 17.617 4.18235C16.6407 3.20604 15.0578 3.20604 14.0815 4.18235L5.59622 12.6676C3.83886 14.425 3.83886 17.2742 5.59622 19.0316C7.35358 20.7889 10.2028 20.7889 11.9602 19.0316L18.3241 12.6676C18.7147 12.2771 19.3478 12.2771 19.7384 12.6676C20.1289 13.0582 20.1289 13.6913 19.7384 14.0818L13.3744 20.4458C10.836 22.9842 6.72042 22.9842 4.18201 20.4458Z' fill='%23858B93'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_813_28829'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      }
    }

    .file-list {
      display: flex;
      flex-wrap: wrap;

      a {
        width: 100%;
        height: 24px;
        flex: 0 0 1;
        color: var(--txt-info);
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.4px;
      }
    }
  }
}

.board-view-wrap + .btn-wrap {
  margin-top: 80px;
}

/**************************************************************************************************
  *** 자주묻는질문 faq
  **************************************************************************************************/

.faq-wrap {
  border-top: 1px solid #2e3033;
  li {
    border-bottom: 1px solid #eceef0;
  }

  .faq-box {
    background: no-repeat 27px 20px;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.6314 21.9996C21.3345 21.1477 22.5951 21.0271 23.447 21.7302L31.2733 28.1898C32.1252 28.8929 32.2458 30.1535 31.5427 31.0054C30.8396 31.8573 29.579 31.9779 28.7271 31.2747L20.9008 24.8152C20.0489 24.1121 19.9283 22.8515 20.6314 21.9996Z' fill='%23FA4E29'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.8263 12C15.5369 12 12 15.5485 12 20C12 24.4515 15.5369 28 19.8263 28C24.1158 28 27.6527 24.4515 27.6527 20C27.6527 15.5485 24.1158 12 19.8263 12ZM8 20C8 13.4058 13.2619 8 19.8263 8C26.3907 8 31.6527 13.4058 31.6527 20C31.6527 26.5942 26.3907 32 19.8263 32C13.2619 32 8 26.5942 8 20Z' fill='%23FA4E29'/%3E%3C/svg%3E%0A");
    .q-box {
      padding: 25px 0px 25px 90px;
      color: var(--grayscale-500, var(--Txt_02, #50555c));
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
      background: no-repeat center right 27px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9591 25.9058C21.1689 26.7486 19.8311 26.7486 19.0409 25.9058L12.2705 18.684C11.8927 18.281 11.9131 17.6482 12.3161 17.2705C12.719 16.8927 13.3518 16.9132 13.7295 17.3161L20.5 24.5379L21.2295 25.2218L20.5 24.5379L27.2705 17.3161C27.6482 16.9132 28.281 16.8928 28.6839 17.2705C29.0869 17.6482 29.1073 18.281 28.7295 18.684L21.9591 25.9058Z' fill='%23858B93'/%3E%3C/svg%3E");

      p {
        width: 100%;
        display: flex;
        align-items: flex-start;
        cursor: pointer;

        .subject {
          width: calc(100% - 150px);
          margin-left: 8px;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.5;
          word-wrap: break-word;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          font-weight: 700;
        }
        .category {
          font-weight: 700;
          line-height: 1.5;
        }
      }
    }
    .a-box {
      display: none;
      background: no-repeat 27px 20px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.9695 10H22.0305L32 30H27.8803L25.3586 24.9072H14.6561L12.1344 30H8L17.9695 10ZM20.022 14.0051L16.1368 21.7978H23.8632L20.022 14.0051Z' fill='%2350555C' stroke='%2350555C' stroke-width='0.5' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
  }

  .faq-box.active {
    border-radius: 20px;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;

    .q-box {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.9591 25.9058C21.1689 26.7486 19.8311 26.7486 19.0409 25.9058L12.2705 18.684C11.8927 18.281 11.9131 17.6482 12.3161 17.2705C12.719 16.8927 13.3518 16.9132 13.7295 17.3161L20.5 24.5379L21.2295 25.2218L20.5 24.5379L27.2705 17.3161C27.6482 16.9132 28.281 16.8928 28.6839 17.2705C29.0869 17.6482 29.1073 18.281 28.7295 18.684L21.9591 25.9058Z' fill='%23FA4E29'/%3E%3C/svg%3E");
      font-weight: 700;
    }
    .a-box {
      display: inline-block;
      padding: 10px 127px 50px 90px;
      color: var(--txt-sub);
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }
  }
}
