.ia_list {
  width: 100%;

  table {
    width: 100%;
    border-left: 1px solid #ddd;
    border-top: 2px solid #555;
    thead {
      th {
        padding: 13px 5px;
        background: #eee;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
      }
    }

    tbody {
      td {
        padding: 6px 5px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 0.813rem;

        a {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
