<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style02.css" />
    <link rel="stylesheet" type="text/css" href="guide.css" />

    <script src="../../js/include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="../include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <!-- <aside w3-include-html="../include/aside.html"></aside> -->
        <article>
          <section class="ia_list">
            <div class="tab-wrap">
              <div class="tab">
                <div class="tab-button-wrap">
                  <button class="tablinks" onclick="openCar(event, 'Status01')">소매몰</button>
                  <button class="tablinks active" onclick="openCar(event, 'Status02')">수출</button>
                  <button class="tablinks" onclick="openCar(event, 'Status03')">기타</button>
                </div>
              </div>

              <div id="Status01" class="tabcontent">
                <div class="tabcontent-wrap">
                  <table>
                    <colgroup>
                      <col width="60px" />
                      <col width="300px" />
                      <col width="200px" />
                      <col width="auto" />
                    </colgroup>

                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>화면명</th>
                        <th>ID</th>
                        <th>비고</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>01</td>
                        <td>메인</td>
                        <td><a href="">화면id</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>로그인</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>회원가입</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>회원가입완료</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>

                      <tr>
                        <td></td>
                        <td>아이디찾기</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>비밀번호 변경</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>회원탈퇴안내</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>분기별 비밀번호 변경</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>오류화면404</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>오류화면500</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>정기점검안내</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>서비스 이용약관</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>개인정보 처리방침</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="tab">알기쉬운 개인정보 처리방침</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td class="pop">이메일 무단수집 거부</td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href=""></a></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div id="Status02" class="tabcontent active"></div>

              <div id="Status03" class="tabcontent">
                <div class="tabcontent-wrap">
                  <div class="tab-desc-wrap">
                    <div>※ 찜한 차량은 <strong class="stress">최대 10개</strong>까지 저장됩니다.</div>
                  </div>

                  <div class="tab-cont-wrap">
                    <div>Tab 3</div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="../include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="../include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

  <script>
    includeHTML();

    // Tab
    function openCar(evt, carStatus) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(carStatus).style.display = "block";
      evt.currentTarget.className += " active";
    }
  </script>
</html>
