<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <link rel="stylesheet" type="text/css" href="../../css/style02.css">

  <script src="../../js/include.js"></script>

</head>

<body>
  <div class="wrap">
    <div class="form bbs photo">
      <!-- bbs photo -->
      <div class="btn-wrap">
        <div class="btn-box left"><button class="btn-default delete">선택차량 삭제</button></div>
        <div class="btn-box right"><button class="btn-default active">가격 낮은 순</button><button class="btn-default">가격
            높은
            순</button><button class="btn-default">주행거리 낮은 순</button><button class="btn-default">주행거리 높 은 순</button>
        </div>
      </div>
      <div class="bbs-wrap photo">
        <!-- table -->
        <table class="table-default">
          <caption>방문예약현황</caption>
          <colgroup>
            <col width="30px">
            <col width="202px">
            <col width="*">
            <col width="121px">
            <col width="30px">
          </colgroup>
          <tbody>
            <tr>
              <td>
                <div class="checkbox-wrap">
                  <span>
                    <input type="checkbox" id="select-agree1" class="must" name="agreeBtn">
                    <label class="label" for="select-agree1"></label>
                  </span>
                </div>
              </td>
              <td><a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차"></a></td>
              <td>
                <div class="goods-wrap">
                  <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                  <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                  <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                  <p class="goods-price"><span class="number">2,196</span> 만원</p>
                </div>
              </td>
              <td>
                <div class="btn-box"><button class="btn-default compare">비교하기</button><button
                    class="btn-default reservation">방문예약</button></div>
              </td>
              <td><button class="btn-default icon-only closing"></button></td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-wrap">
                  <span>
                    <input type="checkbox" id="select-agree1" class="must" name="agreeBtn">
                    <label class="label" for="select-agree1"></label>
                  </span>
                </div>
              </td>
              <td><a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차"></a></td>
              <td>
                <div class="goods-wrap">
                  <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                  <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                  <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                  <p class="goods-price"><span class="number">2,196</span> 만원</p>
                </div>
              </td>
              <td>
                <div class="btn-box"><button class="btn-default compare">비교하기</button><button
                    class="btn-default reservation">방문예약</button></div>
              </td>
              <td><button class="btn-default icon-only closing"></button></td>
            </tr>
            <tr>
              <td>
                <div class="checkbox-wrap">
                  <span>
                    <input type="checkbox" id="select-agree1" class="must" name="agreeBtn">
                    <label class="label" for="select-agree1"></label>
                  </span>
                </div>
              </td>
              <td><a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차"></a></td>
              <td>
                <div class="goods-wrap">
                  <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                  <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                  <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                  <p class="goods-price"><span class="number">2,196</span> 만원</p>
                </div>
              </td>
              <td>
                <div class="btn-box"><button class="btn-default compare">비교하기</button><button
                    class="btn-default reservation">방문예약</button></div>
              </td>
              <td><button class="btn-default icon-only closing"></button></td>
            </tr>
          </tbody>
        </table>
        <!-- //table -->
      </div>
      <!-- //bbs photo -->
    </div>
    <div class="copyright">Copyright SKRUC. All Rights Reserved.</div>
  </div>
</body>

<script>
</script>

</html>