<div class="card-bullet">sdf</div>
<div class="cards">
  <div class="card-thum">
    <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지" /></a>
  </div>
  <div class="card-content">
    <div class="">
      <div class="title"><a href="">제품 이름</a></div>
      <div class="resource-box"><span>2020년식</span><span>10,762km</span><span>경유</span></div>
      <div class="bdg-box"><span>사고등급 A</span><span>외관등급 B</span></div>
    </div>
    <div class="price-box">
      <div class="price"><span>2,196</span><em class="unit">만원</em></div>
      <div class="sale">40% 할인</div>
    </div>
  </div>
</div>
<div class="btn-box"><button class="primary">비교하기</button><button class="">상담하기</button></div>

<!-- 
<div class="card-box">
  <div class="cards">
    <div class="card-thum">
      <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지" /></a>
    </div>
    <div class="card-content">
      <div class="title"><a href="">제품 이름</a></div>
      <div class=""><span>2020년식</span><span>10,762km</span><span>경유</span></div>
      <div class="">
        <div class="price"><span>2,196</span><em>만원</em></div>
      </div>
    </div>
  </div>
  <div class="btn-box"><button class="primary">비교하기</button><button class="">상담하기</button></div>
</div>
-->
