<input type="radio" id="radio21" name="radio2" />
<label for="radio21">라디오1</label>
<input type="radio" id="radio22" name="radio2" />
<label for="radio22">라디오2</label>
<input type="radio" id="radio23" name="radio2" />
<label for="radio23">라디오3</label>
<input type="radio" id="radio24" name="radio2" />
<label for="radio24">라디오4</label>
<div class="check-radio"></div>

<!-- 가로형
<div class="check-radio">
  <input type="radio" id="radio21" name="radio2" />
  <label for="radio21">라디오1</label>
  <input type="radio" id="radio22" name="radio2" />
  <label for="radio22">라디오2</label>
  <input type="radio" id="radio23" name="radio2" />
  <label for="radio23">라디오3</label>
  <input type="radio" id="radio24" name="radio2" />
  <label for="radio24">라디오4</label>
  <div class="check-radio"></div>
</div>
-->

<!-- 세로형
<div class="check-radio col">
  <input type="radio" id="radio21" name="radio2" />
  <label for="radio21">라디오1</label>
  <input type="radio" id="radio22" name="radio2" />
  <label for="radio22">라디오2</label>
  <input type="radio" id="radio23" name="radio2" />
  <label for="radio23">라디오3</label>
  <input type="radio" id="radio24" name="radio2" />
  <label for="radio24">라디오4</label>
  <div class="check-radio"></div>
</div>
-->
