<div class="review-thum">
  <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지" /></a>
</div>
<div class="review-contnet">
  <div class="writer-info"><span class="car">[현대] 펠리세이드</span><span class="name">김*수님</span></div>
  <p class="title">가격도 서운하지 않고 정말 좋았습니다</p>
  <div class="review">오전 10시 온라인 계약하고, 송도 센트럴파크에서 오후 3시에 차 받았습니다 !!! 업무상 차량 교체가 시급해서 알아보다 SK렌터카를 찾았는데요 말만 다이렉...</div>

  <div class="review-point">
    <div class="img-point p_5_0"></div>
    <div class="score">4.9</div>
  </div>
</div>

<!--
<div class="review-box">
  <div class="review-thum">
    <a href=""><img src="https://via.placeholder.com/333x208" alt="상품이미지" /></a>
  </div>
  <div class="review-contnet">
    <div class="writer-info"><span class="car">[현대] 펠리세이드</span><span class="name">김*수님</span></div>
    <p class="title">가격도 서운하지 않고 정말 좋았습니다</p>
    <div class="review">오전 10시 온라인 계약하고, 송도 센트럴파크에서 오후 3시에 차 받았습니다 !!! 업무상 차량 교체가 시급해서 알아보다 SK렌터카를 찾았는데요 말만 다이렉...</div>

    <div class="review-point">
      <div class="img-point p_5_0"></div>
      <div class="score">4.9</div>
    </div>
  </div>
</div>
-->
