@charset "utf-8";

/*** var ****/
:root {
  /* 디자인팀 네이밍 */
  /* text */

  --gray-800: #858b93;
  --txt-02: #50555c;

  /* bg */
  --sk-white-ffffff: #fff;
  --gray-50: #f7f7f9;

  --gray-100: #eceef0;
  --gray-800: #858b93;

  --gray-04: #d4d7dc;
  --gray-03: #b5b9c0;
  --gray-800: #858b93;
  --txt-02: #50555c;
  // --txt-defult: #2E3033;

  /*** text ***/
  --txt-defult: #2e3033;
  --txt-sub: #50555c;
  --txt-info: #858b93;
  --txt-label: #b5b9c0;

  --color-primary: #ff5d01;
  --color-error-message: #f71010;

  /*** border ***/
  --bdr-defult: #d4d7dc;

  --bdr-red: #ff3d44;

  /** background ***/
  --bg-gray: #eceef0;

  /* form */
  --form-text: #50555c;
  --form-line: #d4d7dc;
  --form-bg: #fff;
  --form-hover-text: #fff;
  --form-hover-line: ;
  --form-hover-bg: ;
  --form-focus-text: ;
  --form-focus-line: #50555c;
  --form-focus-bg: ;
  --form-disabled-text: ;
  --form-disabled-line: ;
  --form-disabled-bg: ;
  --form-readonly-text: ;
  --form-readonly-line: ;
  --form-readonly-bg: ;
  --form-placeholder-text: #d4d7dc;
  --form-error-line: #f71010;

  /* border-radius */
  --border-radius-form: 8px;
}

/*** reset ***/
input,
select,
textarea {
  // border: 0;
}

input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--form-placeholder-text);
}

button {
  --color-text: #50555c;
  --color-line: #50555c;
  --color-bg: #50555c;

  --color-primary-text: #50555c;
  --color-primary--line: #50555c;
  --color-primary--bg: #50555c;
}
/* #FF8A00 */
.btn-primary {
  background: linear-gradient(70deg, #ff7d00 -1%, #f35b5b 37%, #fe532d 116.61%);
  color: #fff;
}
.btn-gray {
  background-color: var(--bg-gray);
}

.btn {
  color: var(--color-text);
}
.spn {
  color: var(--color-text);
}

/**************************************************************************************************
*** button
**************************************************************************************************/
.btn-box {
  width: 100%;
  display: flex;
  gap: 0 10px;
  margin-top: 40px;
  button {
    width: inherit;
    padding: 14px 15px;
    color: var(--color-text);
    text-align: center;

    &:disabled {
      background: #d4d7dc !important;
    }
  }
  .btn-primary {
    color: #fff;
  }
}

/**************************************************************************************************
*** input
**************************************************************************************************/
.frmInpt {
  border-radius: var(--border-radius-form);
}

.box-input {
  border: 2px solid #ff5d01;
  padding: 21px 30px;
  border-radius: 118px;

  input,
  select {
    width: 100%;
    border: none;
    color: var(--form-text);
    outline: 1px solid #fefefe;
  }
}

/**************************************************************************************************
*** textarea
**************************************************************************************************/
.wrap-textarea {
  width: 100%;
  .box-textarea {
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid var(--gray-200-d-4-d-7-dc, #d4d7dc);

    &.md {
      height: 160px;
    }
    textarea {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .txt-cnt {
    margin-top: 4px;
    text-align: right;
    color: var(--txt-info);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
  }
}
/**************************************************************************************************
*** cards
**************************************************************************************************/
.card-box {
  position: relative;

  border: 1px solid red;

  .card-bullet {
    position: absolute;
    left: 8px;
    top: -18px;

    width: 36px;
    height: 36px;
    border: 1px solid red;
    background-color: #fff;
    border-radius: 36px;
  }
  .card {
    width: inherit;

    .card-thum {
      width: 100%;
    }

    .btn-box {
      display: flex;
      gap: 0 10px;
      button {
        background: #eceef0;
        padding: 12px 16px;
      }
    }
  }
}

.card-box.r-colm {
  .cards {
    display: flex;
    flex-flow: column-reverse;
  }
}

.product-list {
  display: flex;
  gap: 40px 32px;
  flex-wrap: wrap;

  .card-box {
    width: calc(33.3% - 21.3px);
  }
}

/**************************************************************************************************
*** review
**************************************************************************************************/
.review-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 30px;
}
.review-box {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border: 1px solid red;

  column-count: 4;
  .review-thum {
  }

  .review-contnet {
    .writer-info {
      display: flex;
      gap: 0 8px;
      .car {
      }
      .name {
      }
    }
    .title {
    }
    .review {
    }
    .review-point {
      .img-point {
      }
      .score {
      }
    }
  }
}
