
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap); 

html, body, div, ul, li, p, h1, h2, h3, h4, h5, h6, input, textarea, select {
	padding:0;
	margin: 0;
	
	
} 
* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', 'Malgun Gothic', '맑은 고딕', sans-serif;
	color: #2c2c2c;
	letter-spacing: -0.25px;
}

.wrap{
	width: 100%;
	min-width: 1200px;
	padding: 20px;
}

.page_title {
	
}
.page_title h1 {
	margin: 0;
	padding-left: 90px;
	font-size: 24px;
	font-weight: 500;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='81' height='24' viewBox='0 0 81 24' fill='none'%3E%3Cpath d='M11.986 23.0431C14.1704 23.0416 16.3054 22.3922 18.1208 21.1773C19.9363 19.9624 21.3507 18.2365 22.1852 16.2177C23.0197 14.199 23.2369 11.9781 22.8093 9.83587C22.3816 7.69369 21.3284 5.72645 19.7827 4.18286C18.237 2.63927 16.2683 1.58866 14.1255 1.16392C11.9828 0.739185 9.76218 0.959379 7.74456 1.79666C5.72694 2.63393 4.00291 4.05071 2.79046 5.86779C1.57802 7.68488 0.931617 9.82067 0.933001 12.0051C0.93392 13.4557 1.22055 14.8918 1.77652 16.2316C2.3325 17.5713 3.14692 18.7885 4.1733 19.8134C5.19968 20.8384 6.41791 21.6512 7.75842 22.2053C9.09893 22.7595 10.5355 23.0442 11.986 23.0431Z' fill='%23AF0030'/%3E%3Cpath d='M11.542 7.15286V16.8429H14.622V15.9709H12.43V7.15186L11.542 7.15286Z' fill='white'/%3E%3Cpath d='M8.456 9.79696C8.71823 9.79736 8.97468 9.71993 9.19288 9.57449C9.41108 9.42905 9.58121 9.22214 9.68175 8.97995C9.78228 8.73775 9.80869 8.47117 9.75763 8.21396C9.70657 7.95675 9.58033 7.72049 9.39491 7.53506C9.20948 7.34964 8.97321 7.22339 8.716 7.17233C8.45879 7.12127 8.19221 7.14769 7.95001 7.24823C7.70782 7.34876 7.5009 7.51889 7.35546 7.73709C7.21002 7.95529 7.1326 8.21174 7.133 8.47397C7.13353 8.82469 7.27308 9.16091 7.52107 9.4089C7.76907 9.6569 8.10528 9.79644 8.456 9.79696Z' fill='white'/%3E%3Cpath d='M12.429 2.75714C12.313 2.75214 12.094 2.74414 11.989 2.74414C10.1591 2.74355 8.37023 3.28565 6.84849 4.30185C5.32676 5.31805 4.14056 6.76269 3.43995 8.45309C2.73933 10.1435 2.55576 12.0037 2.91245 13.7985C3.26915 15.5932 4.15008 17.2419 5.44384 18.5359C6.7376 19.8299 8.38606 20.7112 10.1807 21.0683C11.9754 21.4254 13.8356 21.2422 15.5262 20.542C17.2168 19.8417 18.6617 18.6558 19.6782 17.1343C20.6947 15.6128 21.2372 13.824 21.237 11.9941V11.5851H14.63V12.4362H20.356V12.5692C20.2443 14.1991 19.6589 15.761 18.6715 17.0627C17.6842 18.3644 16.338 19.3493 14.7985 19.8963C13.259 20.4433 11.5932 20.5286 10.0059 20.1416C8.41858 19.7546 6.97891 18.9124 5.86384 17.7182C4.74877 16.5241 4.0069 15.0302 3.72941 13.4201C3.45192 11.8101 3.6509 10.154 4.3019 8.65549C4.9529 7.15698 6.02755 5.88134 7.39375 4.98535C8.75996 4.08936 10.3582 3.61208 11.992 3.61215C12.092 3.61215 12.324 3.61216 12.432 3.61816L12.429 2.75714Z' fill='white'/%3E%3Cpath d='M31.354 4.68509H28.034V19.0641H38.234V16.2641H31.354V4.68509ZM45.54 13.5851H48.24V16.0991C47.4654 16.353 46.6551 16.4813 45.84 16.4791C42.851 16.4791 41.856 14.9601 41.856 11.8791C41.856 8.93709 42.804 7.20407 45.793 7.20407C46.4406 7.14983 47.0913 7.26074 47.6843 7.5264C48.2774 7.79205 48.7934 8.20378 49.184 8.72308L51.248 6.82309C49.99 5.02309 47.784 4.4751 45.721 4.4751C41.071 4.4751 38.629 7.0151 38.629 11.8541C38.629 16.6701 40.834 19.2801 45.698 19.2801C47.6584 19.342 49.5974 18.8573 51.298 17.8801V10.9041H45.54V13.5851Z' fill='%236D6E71'/%3E%3Cpath d='M77.511 4.65813V1.03613H74.838V4.65813H71.306V7.21315H74.838V10.7931H77.511V7.21315H81.067V4.65813H77.511Z' fill='%236D6E71'/%3E%3Cpath d='M65.765 4.6748V12.9808C65.765 15.2808 64.625 16.4058 62.697 16.4058C60.769 16.4058 59.629 15.2768 59.629 12.9808V4.6748H56.37V13.0318C56.37 17.5658 58.782 19.2678 62.58 19.2678H62.813C66.613 19.2678 69.024 17.5678 69.024 13.0318V4.67578L65.765 4.6748Z' fill='%236D6E71'/%3E%3C/svg%3E");
}
.page_title p {
	color: #888888;
	font-size: 16px;
}

.table_wrap {
	width: 100%;
	margin-top: 16px;
	border-top: 1px solid #E60072;
	height: calc(100vh - 120px);
    overflow-y: auto;
}
.table_wrap > ul > li {
	display: flex;
	width: 100%;
}
.table_wrap > ul > li > div {
	display: flex;
	align-items: center;
	padding: 6px 10px;
	border-bottom: 1px solid #F1F1F1;
	font-size: 13px;
	letter-spacing: -0.75px;
}
.table_wrap > ul > li > div + div {
	position: relative;
}
.table_wrap > ul > li > div + div::before {
	content: "";
	position: absolute;
	left: 1px;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 1px;
	height: calc(100% - 16px);
	background-color: #e2e2e2;
}

.table_wrap > ul > li > div:nth-child(1) {
	width: 3%;
	justify-content: flex-end;
}
.table_wrap > ul > li > div:nth-child(2) {
	width: 12%;
}
.table_wrap > ul > li > div:nth-child(3) {
	width: 12%;
}
.table_wrap > ul > li > div:nth-child(4) {
	width: 12%;
}
.table_wrap > ul > li > div:nth-child(5) {
	width: 16%;
}
.table_wrap > ul > li > div:nth-child(6) {
	width: 5.6%;
	justify-content: center;
}
.table_wrap > ul > li > div:nth-child(7) {
	width: 9%;
}
.table_wrap > ul > li > div:nth-child(8) {
	width: 8%;
	justify-content: center;
}
.table_wrap > ul > li > div:last-child {
	flex: auto;
	width: calc(100% - 77%);
	flex-direction: column;
	align-items: flex-start;
	gap: 6px;
}
.table_wrap a{color: #E52C8E;}

.cmmt p {
	text-indent: -50px;
    padding-left: 50px;
	color: #555555;
    font-size: 12px;
}
.table_wrap .table_header > div {
	background-color:#F1F1F1;
	flex-direction: row !important;
	justify-content: center !important;
	font-weight: 500;
}
.table_wrap .table_header {
	position: sticky;
    top: 0px;
    z-index: 1;
}

.todo {
	color:#dedede;
}
.todo.cmt {
	color: #BB86FC;
	font-weight: 500;
}
.todo.ing {
	
	background-repeat: no-repeat;
	background-size: 12px auto;
	background-position: 8px 50%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.9717 14.0103C19.6401 14.6787 20 15.5527 20 16.4782C20 17.455 19.6401 18.329 18.9717 18.9974C18.3033 19.6658 17.4293 19.9743 16.5039 19.9743C15.6298 19.9743 14.7044 19.6658 14.036 18.9974C14.036 18.9632 14.036 18.946 14.036 18.946L12.4936 17.1465C11.1054 15.7584 8.8946 15.7584 7.55784 17.1465L6.01542 18.946C6.01542 18.946 6.01542 18.9632 6.01542 18.9974C4.62725 20.3342 2.41645 20.3342 1.02828 18.9974C0.359897 18.329 0 17.455 0 16.4782C0 15.5527 0.359897 14.6787 1.02828 14.0103L2.87918 12.4679C3.54756 11.7995 3.90745 10.9255 3.90745 10C3.90745 9.07455 3.54756 8.20052 2.87918 7.53214L1.02828 5.98972C0.359897 5.32134 0 4.4473 0 3.47044C0 2.54499 0.359897 1.67095 1.02828 1.00257C2.41645 -0.33419 4.62725 -0.33419 6.01542 1.00257L7.55784 2.85347C8.8946 4.19023 11.1054 4.19023 12.4936 2.85347L14.036 1.00257C15.4242 -0.33419 17.635 -0.33419 18.9717 1.00257C19.6401 1.67095 20 2.54499 20 3.47044C20 4.4473 19.6401 5.32134 18.9717 5.98972L17.1722 7.53214C16.5039 8.20052 16.144 9.07455 16.144 10C16.144 10.9255 16.5039 11.7995 17.1722 12.4679L18.9717 14.0103ZM3.13625 13.5476C2.26221 14.473 2.26221 15.964 3.13625 16.838C3.59897 17.3008 4.16452 17.5578 4.8329 17.5578C5.44987 17.5578 6.01542 17.3008 6.47815 16.838L7.09511 16.1183C6.73522 16.3753 6.27249 16.4782 5.86118 16.4782C5.24421 16.4782 4.62725 16.2211 4.21594 15.8098C3.75321 15.347 3.49614 14.7815 3.49614 14.1645C3.49614 13.7018 3.65039 13.2905 3.85604 12.9306L3.13625 13.5476ZM3.85604 7.06941C3.29049 6.14396 3.44473 4.96145 4.21594 4.19024C4.62725 3.72751 5.24421 3.52186 5.86118 3.52186C6.27249 3.52186 6.6838 3.62468 7.09511 3.83033L6.47815 3.11054C6.01542 2.69923 5.44987 2.44216 4.8329 2.44216C4.16452 2.44216 3.59897 2.69923 3.13625 3.16196C2.26221 4.036 2.2108 5.527 3.13625 6.45245L3.85604 7.06941ZM16.8638 6.45245C17.7892 5.527 17.7892 4.036 16.8638 3.16196C16.4524 2.69923 15.8355 2.44216 15.2185 2.44216C14.6015 2.44216 13.9846 2.69923 13.5733 3.11054L12.9563 3.83033C13.3162 3.62468 13.7275 3.52186 14.1902 3.52186C14.8072 3.52186 15.3727 3.72751 15.8355 4.19024C16.6067 4.96145 16.7095 6.14396 16.144 7.06941L16.8638 6.45245ZM12.9049 15.4499C13.2134 15.8098 13.6761 15.964 14.1902 15.964C14.653 15.964 15.1157 15.8098 15.4756 15.4499C15.7841 15.09 15.9897 14.6273 15.9897 14.1645C15.9897 13.6504 15.8355 13.2391 15.4756 12.8792L14.2931 11.9023C14.2931 11.9023 14.2931 11.8852 14.2931 11.8509C13.2648 10.8226 13.2648 9.17738 14.2931 8.1491C14.2931 8.11483 14.2931 8.09769 14.2931 8.09769L15.4756 7.12083C16.1954 6.40103 16.1954 5.26993 15.4756 4.55013C15.1157 4.19024 14.653 4.03599 14.1902 4.03599C13.6761 4.03599 13.2134 4.19024 12.9049 4.55013L11.8766 5.68124C11.8766 5.71551 11.8766 5.73265 11.8766 5.73265C10.8483 6.76093 9.15167 6.76093 8.12339 5.73265C8.12339 5.73265 8.12339 5.71551 8.12339 5.68124L7.14653 4.55013C6.78663 4.19024 6.32391 4.03599 5.86118 4.03599C5.34704 4.03599 4.88432 4.19024 4.57583 4.55013C3.85604 5.26993 3.85604 6.40103 4.57583 7.12083L5.70694 8.09769C5.70694 8.09769 5.72408 8.11483 5.75835 8.1491C6.22108 8.61183 6.52956 9.28021 6.52956 10C6.52956 10.7198 6.22108 11.3882 5.75835 11.8509C5.72408 11.8852 5.70694 11.9023 5.70694 11.9023L4.57583 12.8792C4.21594 13.2391 4.01028 13.6504 4.01028 14.1645C4.01028 14.6273 4.21594 15.09 4.57583 15.4499C4.88432 15.8098 5.34704 15.964 5.86118 15.964C6.32391 15.964 6.78663 15.8098 7.14653 15.4499L8.12339 14.3188C8.12339 14.2845 8.12339 14.2674 8.12339 14.2674C9.15167 13.2391 10.8483 13.2391 11.8766 14.2674C11.8766 14.2674 11.8766 14.2845 11.8766 14.3188L12.9049 15.4499ZM15.0643 11.7995C14.7044 11.2339 14.4987 10.617 14.4987 9.94859C14.4987 9.33162 14.7044 8.66324 15.0643 8.1491L14.7044 8.45758C13.8817 9.28021 13.8817 10.617 14.7044 11.491L15.0643 11.7995ZM11.8766 4.96145C11.3111 5.32134 10.6941 5.52699 10.0257 5.52699C9.40874 5.52699 8.74036 5.32134 8.22622 4.96145L8.5347 5.32134C9.35733 6.14396 10.6941 6.14396 11.5681 5.32134L11.8766 4.96145ZM5.03856 8.1491C5.75835 9.2288 5.75835 10.7198 5.03856 11.7995L5.39846 11.491C5.80977 11.0797 6.01542 10.5141 6.01542 9.94859C6.01542 9.38304 5.80977 8.8689 5.39846 8.45758L5.03856 8.1491ZM8.22622 14.9872C9.30591 14.2159 10.7455 14.2159 11.8766 14.9872L11.5681 14.6272C10.6941 13.8046 9.35733 13.8046 8.5347 14.6272L8.22622 14.9872ZM13.0077 16.1183L13.6247 16.838C14.036 17.2494 14.653 17.5064 15.2699 17.5064C15.8869 17.5064 16.4524 17.2494 16.9152 16.838C17.8406 15.9126 17.8406 14.4216 16.9152 13.4961L16.1954 12.9306C16.401 13.2905 16.5553 13.7018 16.5553 14.1131C16.5553 14.7301 16.2982 15.3471 15.8869 15.7584C15.4242 16.2211 14.8586 16.4782 14.1902 16.4782C13.7789 16.4782 13.3676 16.3239 13.0077 16.1183ZM15.6812 9.94859C15.6812 8.92031 16.0925 7.94344 16.8123 7.17224L15.7841 8.04628C15.2699 8.56042 15.0129 9.2288 15.0129 9.94859C15.0129 10.7198 15.2699 11.3882 15.7841 11.9023L16.8123 12.7249C16.0925 12.0051 15.6812 11.0283 15.6812 9.94859ZM13.2648 2.69923C13.8303 2.18509 14.4987 1.92802 15.2699 1.92802C15.9897 1.92802 16.7095 2.18509 17.2751 2.75065C18.3548 3.83034 18.4062 5.62983 17.3265 6.76093L18.6632 5.57841C19.2288 5.01286 19.5373 4.24165 19.5373 3.47044C19.5373 2.64782 19.2288 1.92803 18.6632 1.36247C17.4807 0.179955 15.6298 0.179955 14.4473 1.36247L13.2648 2.69923ZM7.24936 3.21337L8.12339 4.19024C9.15167 5.26993 10.8997 5.26993 11.9794 4.19024L12.8021 3.21337C11.2596 4.70437 8.79177 4.70437 7.24936 3.21337ZM1.38817 5.52699L2.77635 6.70951C1.69666 5.57841 1.69666 3.83034 2.82776 2.69923C3.3419 2.18509 4.0617 1.87661 4.8329 1.87661C5.5527 1.87661 6.27249 2.18509 6.78663 2.69923L5.65553 1.31106C4.47301 0.128538 2.57069 0.128538 1.38817 1.31106C0.822621 1.87661 0.514139 2.64782 0.514139 3.41903C0.514139 4.24165 0.822621 4.96144 1.38817 5.52699ZM4.42159 9.94859C4.42159 10.9769 4.01028 11.9537 3.29049 12.7249L4.26735 11.8509C5.34704 10.8226 5.34704 9.07455 4.26735 7.99486L3.29049 7.17224C4.01028 7.89203 4.42159 8.92031 4.42159 9.94859ZM6.78663 17.1979C6.27249 17.7121 5.5527 18.0206 4.8329 18.0206C4.0617 18.0206 3.3419 17.7121 2.82776 17.1465C1.69666 16.0668 1.69666 14.2674 2.77635 13.1877L1.38817 14.3188C0.822621 14.8843 0.514139 15.6555 0.514139 16.4267C0.514139 17.2494 0.822621 18.0206 1.38817 18.5861C2.57069 19.7172 4.47301 19.7172 5.65553 18.5861L6.78663 17.1979ZM12.8021 16.6838L11.928 15.6555C10.8483 14.6272 9.15167 14.6272 8.07198 15.6555L7.24936 16.6838C8.79177 15.1414 11.2082 15.1414 12.8021 16.6838ZM19.4859 16.4267C19.4859 15.6041 19.1774 14.8843 18.6118 14.3188L17.2751 13.1363C18.3548 14.2674 18.3033 16.0154 17.2237 17.1465C16.6581 17.6607 15.9383 17.9692 15.2185 17.9692C14.4473 17.9692 13.7789 17.7121 13.2134 17.1979L14.3959 18.5347C15.5784 19.7172 17.4293 19.7172 18.6118 18.5347C19.1774 17.9692 19.4859 17.1979 19.4859 16.4267Z' fill='%23EA38F5'/%3E%3C/svg%3E");
	color: #FF8C00;
	font-weight: 500;
}


.category {
	margin-top: 3px;
	border-top: 1px solid #F1F1F1;

}