// 일단 일반적인 요소들 파일만 생성해둠.

@import "./components/accordion";
@import "./components/badge";
@import "./components/buttons";
@import "./components/cards";
@import "./components/carousel";
@import "./components/collapse";
@import "./components/comments";
@import "./components/dropdowns";
@import "./components/pagination";
@import "./components/popup";
@import "./components/progress";
@import "./components/tab";
@import "./components/table";
