/* @font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"), url("../../fonts/PretendardVariable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("../../fonts/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-display: swap;
} */

@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/Pretendard-Thin.eot");
  src: url("../../fonts/Pretendard-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Thin.woff2") format("woff2"), url("../../fonts/Pretendard-Thin.woff") format("woff"),
    url("../../fonts/Pretendard-Thin.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("../../fonts/Pretendard-ExtraLight.eot");
  src: url("../../fonts/Pretendard-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-ExtraLight.woff2") format("woff2"),
    url("../../fonts/Pretendard-ExtraLight.woff") format("woff"), url("../../fonts/Pretendard-ExtraLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/Pretendard-Light.eot");
  src: url("../../fonts/Pretendard-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Light.woff2") format("woff2"), url("../../fonts/Pretendard-Light.woff") format("woff"),
    url("../../fonts/Pretendard-Light.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Pretendard-Regular.eot");
  src: url("../../fonts/Pretendard-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Regular.woff2") format("woff2"),
    url("../../fonts/Pretendard-Regular.woff") format("woff"), url("../../fonts/Pretendard-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Pretendard-Medium.eot");
  src: url("../../fonts/Pretendard-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Medium.woff2") format("woff2"), url("../../fonts/Pretendard-Medium.woff") format("woff"),
    url("../../fonts/Pretendard-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Pretendard-SemiBold.eot");
  src: url("../../fonts/Pretendard-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("../../fonts/Pretendard-SemiBold.woff") format("woff"), url("../../fonts/Pretendard-SemiBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Pretendard-Bold.eot");
  src: url("../../fonts/Pretendard-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Bold.woff2") format("woff2"), url("../../fonts/Pretendard-Bold.woff") format("woff"),
    url("../../fonts/Pretendard-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/Pretendard-ExtraBold.eot");
  src: url("../../fonts/Pretendard-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-ExtraBold.woff2") format("woff2"),
    url("../../fonts/Pretendard-ExtraBold.woff") format("woff"), url("../../fonts/Pretendard-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("../../fonts/Pretendard-Black.eot");
  src: url("../../fonts/Pretendard-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/Pretendard-Black.woff2") format("woff2"), url("../../fonts/Pretendard-Black.woff") format("woff"),
    url("../../fonts/Pretendard-Black.ttf") format("truetype");
  font-display: swap;
}
