/**************************************************************************************************
*** textarea
**************************************************************************************************/

.wrap-textarea {
  width: 100%;
  .box-textarea {
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid var(--gray-200-d-4-d-7-dc, #d4d7dc);

    &.md {
      height: 160px;
    }
    textarea {
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .txt-cnt {
    margin-top: 4px;
    text-align: right;
    color: var(--txt-info);
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4px;
  }
}
