<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <script src="../../js/include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="header_wrap">
        <header>
            <div class="logo">
              <h2 class="header_logo">로고</h2>
            </div>

            <nav>
              gnb
            </nav>
            <div class="header_util">
              헤더유틸
            </div>
        </header>
      
        <article class="top-bar">
          top bar
        </article>
      </div>

      <main style="height:800px;">
        <aside>
          aside
        </aside>
        <article>
          <section>
            section
          </section>

          <section>
            section
          </section>
        </article>

        <article class="quick">퀵메뉴</article>
      </main>
      

      <footer w3-include-html="../include/footer.html"></footer>

      
        
      </div>
  </body>

<script>
  includeHTML();
</script>
 
</html>