<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/style02.css" />

    <script src="../../js/include.js"></script>
  </head>
  <body>
    <div class="wrap">
      <!-- headerWrap -->
      <div class="header_wrap" w3-include-html="../include/header.html"></div>
      <!-- headerWrap -->

      <main>
        <article>
          <section>
            <div class="tab-wrap">
              <div class="tab">
                <div class="tab-button-wrap">
                  <button class="tablinks active" onclick="openCar(event, 'Status01')">개인정보처리방침</button>
                  <button class="tablinks" onclick="openCar(event, 'Status02')">알기쉬운 개인정보 처리방침</button>
                </div>
              </div>

              <div id="Status01" class="tabcontent active">
                <div class="tabcontent-wrap">
                  <!-- <div class="tab-desc-wrap">
                    <div>※ 찜한 차량은 <strong class="stress">최대 10개</strong>까지 저장됩니다.</div>
                  </div> -->

                  <div class="privacy__wrap">
                    <p>
                      SK렌터카 주식회사(이하 ‘회사’)는 회사에서 제공하는 SK렌터카 다이렉트(이하 ‘서비스’)를 이용하는 고객님의 개인정보를 매우 소중하게 생각하고 있으며, 고객님의 개인정보를 보호하기
                      위해 최선의 노력을 다하고 있습니다.
                    </p>
                    <p>
                      회사는 『개인정보보호법』, 『정보통신망 이용 촉진 및 정보보호 등에 관한 법률』을 비롯한 모든 개인정보보호 관련 법률규정을 준수하고 있으며, 회사의 개인정보처리방침을 별도로
                      제정하고 이를 준수함으로써 회원의 개인정보를 보호하고 있습니다. 또한 회사는 개인정보 처리방침을 홈페이지 첫 화면에 공개하여 회원이 언제나 쉽게 열람할 수 있도록 조치하고 있으며,
                      회사의 개인정보 처리방침이 수정될 경우 홈페이지를 통해 공지합니다.
                    </p>
                    <div class="">
                      <p class="title-sub">회사의 개인정보처리방침은 다음과 같은 내용을 담고 있습니다.</p>
                      <table class="privacy__table--01">
                        <thead>
                          <tr>
                            <th colspan="2">목차</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <ul>
                                <li>01 개인정보 수집 항목˙처리 목적˙보유 및 이용기간</li>
                                <li>02 만 14세 미만 아동의 개인정보 처리</li>
                                <li>03 개인정보의 제3자 제공</li>
                                <li>04 개인정보 처리업무의 위탁</li>
                                <li>05 개인정보 국외 이전</li>
                                <li>06 개인정보 파기 절차 및 방법</li>
                                <li>07 미이용자의 개인정보 파기 등에 관한 조치</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>08 정보주체와 법정대리인의 권리˙의무 및 행사방법</li>
                                <li>09 개인정보의 안전성 확보조치</li>
                                <li>10 개인정보를 자동으로 수집하는 장치의 설치˙운영 및 거부</li>
                                <li>11 형태정보의 수집˙이용˙제공 및 거부</li>
                                <li>12 개인정보 보호 책임자</li>
                                <li>13 정보주체의 권익침해에 대한 구제방법</li>
                                <li>14 개인정보 처리방침의 변경</li>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <p></p>
                    <p></p>
                    <p></p>
                  </div>
                </div>
              </div>

              <div id="Status02" class="tabcontent">
                <div class="tabcontent-wrap">
                  <div class="tab-desc-wrap">
                    <div>※ 찜한 차량은 <strong class="stress">최대 10개</strong>까지 저장됩니다.</div>
                  </div>

                  <div class="form bbs photo">
                    <!-- bbs photo -->
                    <div class="btn-wrap">
                      <div class="btn-box left"><button class="btn-default delete">선택차량 삭제</button></div>
                      <div class="btn-box right">
                        <button class="btn-default active">가격 낮은 순</button><button class="btn-default">가격 높은 순</button><button class="btn-default">주행거리 낮은 순</button
                        ><button class="btn-default">주행거리 높 은 순</button>
                      </div>
                    </div>
                    <div class="bbs-wrap photo">
                      <!-- table -->
                      <table class="table-default">
                        <caption>
                          방문예약현황
                        </caption>
                        <colgroup>
                          <col width="30px" />
                          <col width="202px" />
                          <col width="*" />
                          <col width="121px" />
                          <col width="30px" />
                        </colgroup>
                        <tbody>
                          <tr>
                            <td>
                              <div class="checkbox-wrap">
                                <span>
                                  <input type="checkbox" id="select-agree1" class="must" name="agreeBtn" />
                                  <label class="label" for="select-agree1"></label>
                                </span>
                              </div>
                            </td>
                            <td>
                              <a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차" /></a>
                            </td>
                            <td>
                              <div class="goods-wrap">
                                <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                                <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                                <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                                <p class="goods-price"><span class="number">2,196</span> 만원</p>
                              </div>
                            </td>
                            <td>
                              <div class="btn-box"><button class="btn-default compare">비교하기</button><button class="btn-default reservation">방문예약</button></div>
                            </td>
                            <td><button class="btn-default icon-only closing"></button></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="checkbox-wrap">
                                <span>
                                  <input type="checkbox" id="select-agree1" class="must" name="agreeBtn" />
                                  <label class="label" for="select-agree1"></label>
                                </span>
                              </div>
                            </td>
                            <td>
                              <a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차" /></a>
                            </td>
                            <td>
                              <div class="goods-wrap">
                                <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                                <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                                <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                                <p class="goods-price"><span class="number">2,196</span> 만원</p>
                              </div>
                            </td>
                            <td>
                              <div class="btn-box"><button class="btn-default compare">비교하기</button><button class="btn-default reservation">방문예약</button></div>
                            </td>
                            <td><button class="btn-default icon-only closing"></button></td>
                          </tr>
                          <tr>
                            <td>
                              <div class="checkbox-wrap">
                                <span>
                                  <input type="checkbox" id="select-agree1" class="must" name="agreeBtn" />
                                  <label class="label" for="select-agree1"></label>
                                </span>
                              </div>
                            </td>
                            <td>
                              <a href="#none"><img src="../../img/bbs/img_photo_car.png" alt="상품이미지 자동차" /></a>
                            </td>
                            <td>
                              <div class="goods-wrap">
                                <div class="btn-group"><button class="btn-primary">SK인증차</button></div>
                                <p class="goods-title">재규어 XL(8세대) 프리미엄 럭셔리 3.0 DSWB</p>
                                <p class="goods-desc">2020년식 · 10,762km · 경유</p>
                                <p class="goods-price"><span class="number">2,196</span> 만원</p>
                              </div>
                            </td>
                            <td>
                              <div class="btn-box"><button class="btn-default compare">비교하기</button><button class="btn-default reservation">방문예약</button></div>
                            </td>
                            <td><button class="btn-default icon-only closing"></button></td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- //table -->
                    </div>
                    <!-- //bbs photo -->
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section>section</section>
        </article>

        <!-- quick -->
        <article class="quick" w3-include-html="../include/quick.html"></article>
        <!-- //quick -->
      </main>

      <!-- footer -->
      <footer w3-include-html="../include/footer.html"></footer>
      <!-- //footer -->
    </div>
  </body>

  <script>
    includeHTML();
  </script>
</html>
