<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
  </head>
  <body>
    <div id="app" class="l-wrap">
      <div class="l-login">
        <div class="l-login-body">
          <!-- 로그인헤더 -->
          <div class="l-login-header">
            <h1><a href=""><img src="logo.png" alt="SK렌터카"></a></h1>
            <div class=""><span>탁송관리</span></div>
          </div>
          <!-- //로그인헤더 -->

          <!-- 로그인폼박스 -->
          <div class="l-form">
            
            <div class="form-control">
              <div class="form-control col-12">
                <div class="form-control-label">
                  <span>ID</span>
                </div>
                <div class="form-control-container">
                  <div class="form-control-content">
                    <div class="form-control-input">
                      <input placeholder="아이디 입력">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-control">
              <div class="form-control col-12">
                <div class="form-control-label">
                  <span>PW</span>
                </div>
                <div class="form-control-container">
                  <div class="form-control-content">
                    <div class="form-control-input">
                      <input type="password" placeholder="비밀번호 입력">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!-- //로그인폼박스 -->


        </div>
      </div>

    </div>
  </body>
</html>