@charset "UTF-8";
/*** var ****/
:root {
  /* 디자인팀 네이밍 */
  /* text */
  --gray-800: #858b93;
  --txt-02: #50555c;
  /* bg */
  --sk-white-ffffff: #fff;
  --gray-50: #f7f7f9;
  --gray-100: #eceef0;
  --gray-800: #858b93;
  --gray-04: #d4d7dc;
  --gray-03: #b5b9c0;
  --gray-800: #858b93;
  --txt-02: #50555c;
  /*** text ***/
  --txt-defult: #2e3033;
  --txt-sub: #50555c;
  --txt-info: #858b93;
  --txt-label: #b5b9c0;
  --color-primary: #ff5d01;
  --color-error-message: #f71010;
  /*** border ***/
  --bdr-defult: #d4d7dc;
  --bdr-red: #ff3d44;
  /** background ***/
  --bg-gray: #eceef0;
  /* form */
  --form-text: #50555c;
  --form-line: #d4d7dc;
  --form-bg: #fff;
  --form-hover-text: #fff;
  --form-hover-line: ;
  --form-hover-bg: ;
  --form-focus-text: ;
  --form-focus-line: #50555c;
  --form-focus-bg: ;
  --form-disabled-text: ;
  --form-disabled-line: ;
  --form-disabled-bg: ;
  --form-readonly-text: ;
  --form-readonly-line: ;
  --form-readonly-bg: ;
  --form-placeholder-text: #d4d7dc;
  --form-error-line: #f71010;
  /* border-radius */
  --border-radius-form: 8px;
}

/*** reset ***/
input::placeholder,
select::placeholder,
textarea::placeholder {
  color: var(--form-placeholder-text);
}

button {
  --color-text: #50555c;
  --color-line: #50555c;
  --color-bg: #50555c;
  --color-primary-text: #50555c;
  --color-primary--line: #50555c;
  --color-primary--bg: #50555c;
}

/* #FF8A00 */
.btn-primary {
  background: linear-gradient(70deg, #ff7d00 -1%, #f35b5b 37%, #fe532d 116.61%);
  color: #fff;
}

.btn-gray {
  background-color: var(--bg-gray);
}

.btn {
  color: var(--color-text);
}

.spn {
  color: var(--color-text);
}

/*** textarea ***/
.wrap-textarea {
  width: 100%;
}
.wrap-textarea .box-textarea {
  width: 100%;
  border-radius: 8px;
  padding: 16px;
  border: 1px solid var(--gray-200-d-4-d-7-dc, #d4d7dc);
}
.wrap-textarea .box-textarea.md {
  height: 160px;
}
.wrap-textarea .box-textarea textarea {
  width: 100%;
  height: 100%;
  border: none;
}
.wrap-textarea .txt-cnt {
  margin-top: 4px;
  text-align: right;
  color: var(--txt-info);
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4px;
}

/*** radio check ***/
.check-radio {
  position: relative;
  display: flex;
  gap: 8px 20px;
}
.check-radio input[type=radio],
.check-radio input[type=checkbox] {
  display: none;
  font-size: 15px;
}
.check-radio input[type=checkbox] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.check-radio input[type=checkbox] + label {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: var(--txt-sub);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.check-radio input[type=checkbox] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M19.4364 11.1605C19.7879 10.8091 19.7879 10.2392 19.4364 9.88775C19.0849 9.53628 18.5151 9.53628 18.1636 9.88775L11.9229 16.1285L9.90278 13.6033C9.59227 13.2152 9.02591 13.1522 8.63777 13.4627C8.24964 13.7733 8.18671 14.3396 8.49722 14.7278L11.1455 18.0381C11.3054 18.238 11.5429 18.3603 11.7985 18.3745C12.0541 18.3886 12.3037 18.2933 12.4847 18.1123L19.4364 11.1605Z' fill='%23B5B9C0'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14ZM24.2 14C24.2 19.6333 19.6333 24.2 14 24.2C8.3667 24.2 3.8 19.6333 3.8 14C3.8 8.3667 8.3667 3.8 14 3.8C19.6333 3.8 24.2 8.3667 24.2 14Z' fill='%23B5B9C0'/%3E%3C/svg%3E");
}
.check-radio input[type=checkbox]:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Cpath d='M19.4364 11.1605C19.7879 10.8091 19.7879 10.2392 19.4364 9.88775C19.0849 9.53628 18.5151 9.53628 18.1636 9.88775L11.9229 16.1285L9.90278 13.6033C9.59227 13.2152 9.02591 13.1522 8.63777 13.4627C8.24964 13.7733 8.18671 14.3396 8.49722 14.7278L11.1455 18.0381C11.3054 18.238 11.5429 18.3603 11.7985 18.3745C12.0541 18.3887 12.3037 18.2933 12.4847 18.1123L19.4364 11.1605Z' fill='%2350555C'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M26 14C26 20.6274 20.6274 26 14 26C7.37258 26 2 20.6274 2 14C2 7.37258 7.37258 2 14 2C20.6274 2 26 7.37258 26 14Z' fill='%2350555C'/%3E%3Cpath d='M19.4372 11.1604C19.7887 10.8089 19.7887 10.2391 19.4372 9.88763C19.0857 9.53616 18.5159 9.53616 18.1644 9.88763L11.9237 16.1283L9.9036 13.6032C9.59309 13.215 9.02672 13.1521 8.63859 13.4626C8.25045 13.7731 8.18752 14.3395 8.49803 14.7276L11.1463 18.038C11.3062 18.2379 11.5437 18.3602 11.7993 18.3744C12.0549 18.3885 12.3045 18.2932 12.4855 18.1121L19.4372 11.1604Z' fill='%23F7F7F9'/%3E%3C/svg%3E");
}
.check-radio input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.check-radio input[type=radio] + label {
  display: inline-block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  color: var(--txt-sub);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.check-radio input[type=radio] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0px;
  width: 24px;
  height: 24px;
  text-align: center;
  background-position: 50% 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Ccircle cx='14' cy='14' r='11.5' stroke='%23B5B9C0'/%3E%3Ccircle cx='14' cy='14' r='6' fill='%23B5B9C0'/%3E%3C/svg%3E");
}
.check-radio input[type=radio]:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' viewBox='0 0 28 28' fill='none'%3E%3Ccircle cx='14' cy='14' r='12' fill='%2350555C'/%3E%3Ccircle cx='14' cy='14' r='6' fill='white'/%3E%3C/svg%3E");
}

.check-radio.col {
  flex-direction: column;
}

.check-radio + .check-radio {
  margin-top: 20px;
}

/*** button ***/
.btn-box {
  width: 100%;
  display: flex;
  gap: 0 10px;
  margin-top: 40px;
}
.btn-box button {
  width: inherit;
  padding: 14px 15px;
  color: var(--color-text);
  text-align: center;
}
.btn-box button:disabled {
  background: #d4d7dc !important;
}
.btn-box .btn-primary {
  color: #fff;
}

.frmInpt {
  border-radius: var(--border-radius-form);
}

.box-input {
  border: 2px solid #ff5d01;
  padding: 21px 30px;
  border-radius: 118px;
}
.box-input input,
.box-input select {
  width: 100%;
  border: none;
  color: var(--form-text);
  outline: 1px solid #fefefe;
}

.hide-txt {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.product-list {
  display: flex;
  gap: 40px 32px;
  flex-wrap: wrap;
}
.product-list .card-box,
.product-list .card {
  width: calc(33.3% - 21.3px);
}
.product-list .card-thum {
  width: 100%;
}
.product-list .card-box.r-colm .cards {
  display: flex;
  flex-flow: column-reverse;
}
.product-list .btn-box {
  display: flex;
  gap: 0 10px;
}
.product-list .btn-box button {
  width: calc(50% - 5px);
  background: red;
  padding: 12px 16px;
}/*# sourceMappingURL=common.css.map */