@charset "UTF-8";
/***** login *****/
.wrap.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}
.wrap.login .copyright {
  width: 100%;
  text-align: center;
  color: #666;
  font-size: 11px;
  line-height: 16px;
  position: fixed;
  bottom: 42px;
}
.wrap.login .login-sns {
  width: 100%;
  margin: 40px auto;
}
.wrap.login .login-sns p {
  text-align: center;
  position: relative;
}
.wrap.login .login-sns p span {
  z-index: 1;
  position: relative;
}
.wrap.login .login-sns p::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: red;
}
.wrap.login .login-sns p::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 113px;
  height: 7px;
  background-color: #fff;
}
.wrap.login .login-sns .sns-box {
  display: flex;
  gap: 0 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.wrap.login .login-sns .sns-box a {
  width: 56px;
  height: 56px;
}
.wrap.login .login-sns .sns-box a.kakao {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Crect width='56' height='56' rx='28' fill='%23FEE500'/%3E%3Cpath d='M27.9958 15.9961C20.2664 15.9961 13.9983 20.8099 13.9983 26.7467C13.9983 30.6156 16.6562 33.9996 20.6431 35.8994C20.3478 36.9581 19.5789 39.7435 19.4262 40.352C19.2378 41.0892 19.7062 41.0792 20.0117 40.8813L25.3989 37.3242C26.2585 37.4499 27.1265 37.5128 27.9958 37.5122C35.7303 37.5122 41.9983 32.6984 41.9983 26.7566C41.9983 20.8148 35.7303 16.006 27.9958 16.006' fill='%23381E1E'/%3E%3C/svg%3E");
}
.wrap.login .login-sns .sns-box a.naver {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='57' height='56' viewBox='0 0 57 56' fill='none'%3E%3Crect x='0.5' width='56' height='56' rx='28' fill='%232DB400'/%3E%3Cpath d='M32.2069 16.3281V27.1135L24.8215 16.3281H16.8333V37.7063H24.793V26.9209L32.1819 37.7063H40.1666V16.3281H32.2069Z' fill='white'/%3E%3C/svg%3E");
}
.wrap.login .login-sns .sns-box a.apple {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' viewBox='0 0 56 56' fill='none'%3E%3Crect width='56' height='56' rx='28' fill='black'/%3E%3Cpath d='M34.7447 28.3935C34.7125 25.1102 37.5258 23.5338 37.6467 23.4607C36.0667 21.2299 33.6033 20.9189 32.7295 20.8816C30.6336 20.678 28.6361 22.074 27.5705 22.074C26.5048 22.074 24.8652 20.9158 23.1289 20.9485C20.8395 20.9796 18.7372 22.231 17.5603 24.1992C15.1872 28.1697 16.9509 34.0555 19.2676 37.2751C20.3962 38.8515 21.7424 40.6222 23.5109 40.5584C25.2183 40.4947 25.8615 39.4966 27.9235 39.4966C29.9855 39.4966 30.5627 40.5584 32.3668 40.532C34.1998 40.4947 35.3622 38.9183 36.4811 37.3419C37.2832 36.2032 37.9114 34.9592 38.3464 33.6482C38.3158 33.6342 34.7786 32.3252 34.7447 28.3935Z' fill='white'/%3E%3Cpath d='M31.355 18.7499C32.2981 17.6539 32.9317 16.1273 32.756 14.6084C31.4033 14.6581 29.7637 15.479 28.7964 16.5719C27.9226 17.5466 27.1568 19.1028 27.3648 20.589C28.8722 20.6994 30.4183 19.8475 31.355 18.7499Z' fill='white'/%3E%3C/svg%3E");
}
.wrap.login .login_wrap {
  border-radius: 24px;
  padding: 60px;
  display: flex;
  max-width: 520px;
  width: calc(100vw - 64px);
  flex-wrap: wrap;
  align-items: flex-start;
  border: 1px solid #d6d6d6;
  background: #fff;
}
.wrap.login .login_wrap .logo {
  width: 120px;
  height: 64px;
  margin: 0 auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='64' fill='none'%3E%3Cpath fill='%23FF7A00' d='M68.019 50.638h-5.813V47.42h5.038v-4.613a2.044 2.044 0 0 0-.62-1.469 2.094 2.094 0 0 0-1.492-.599h-5.813v1.915h5.038v2.737h-5.038v5.092c0 .549.22 1.075.613 1.462.392.388.924.606 1.48.606h6.587l.02-1.914ZM66.042 57.203v-3.56h-2.849v3.445c0 .55.22 1.078.612 1.47.392.39.924.612 1.481.617h11.335v-1.914l-10.58-.058ZM76.193 40.722h-2.79v13.133h2.79V40.722ZM72.242 40.722h-2.79v4.748H67.96v1.914h1.492v6.433h2.79V40.722ZM116.943 45.813V40.74h-2.868v18.454h.756a2.11 2.11 0 0 0 1.492-.598 2.065 2.065 0 0 0 .62-1.469v-9.342h2.247v-1.914l-2.247-.058ZM100.822 42.731h6.995v3.082h-6.976v1.915h6.879a5.545 5.545 0 0 1-1.641 3.604 5.672 5.672 0 0 1-3.649 1.622h-2.538v1.914h2.596a8.228 8.228 0 0 0 5.774-2.339 8.034 8.034 0 0 0 2.423-5.682v-6.203h-9.863v2.087ZM93.846 40.76v5.054h-2.422v1.914h2.422v11.486h.755a2.114 2.114 0 0 0 1.487-.612 2.064 2.064 0 0 0 .606-1.474V40.76h-2.848ZM79.994 42.828v8.902c0 .548.22 1.074.613 1.462.392.388.925.605 1.48.605h9.242v-1.914h-8.486v-4.097h6.956v-1.914h-6.957v-3.14h8.487v-1.914h-9.242c-.555 0-1.088.218-1.48.606a2.055 2.055 0 0 0-.613 1.462'/%3E%3Cpath fill='%23EA002C' d='M11.984 45.106c-1.937-.9-3.565-1.647-3.565-3.12 0-1.13.91-1.915 2.732-1.915.592 0 1.183.058 1.763.172.29.02.582.02.872 0 1.589 0 2.48-.938 3.081-2.718l.252-.708a16.916 16.916 0 0 0-6.22-1.245c-5.386 0-8.215 3.408-8.215 6.95a5.929 5.929 0 0 0 1.453 4.096 13.066 13.066 0 0 0 4.282 2.89c2.209 1.073 4.205 1.915 4.205 3.447 0 1.531-1.473 2.22-3.45 2.22a10.883 10.883 0 0 1-5.366-1.703l-2.229 4.096a15.472 15.472 0 0 0 7.964 2.03c5.018 0 8.816-2.853 8.816-7.218 0-4.364-3.527-5.973-6.375-7.332M31.614 47.136 40.7 36.13H34.23L26.964 45.7h-.098v-9.572H21.52v23.26h.31a4.65 4.65 0 0 0 3.372-.99 4.542 4.542 0 0 0 1.685-3.05c.02-.28.02-.562 0-.842v-5.36h.116l7.402 9.935h6.781l-9.571-11.946ZM41.01 11.107a5.562 5.562 0 0 0-3.221 1.703 5.443 5.443 0 0 0-1.449 3.313c0 2.718 2.248 4.365 2.267 7.906a6.24 6.24 0 0 1-.816 3.136 6.334 6.334 0 0 1-2.284 2.32c.64 0 1.356-.095 2.15-.095.901-.01 1.802.048 2.694.172l8.428-10.242a34.283 34.283 0 0 0-7.75-8.213'/%3E%3Cpath fill='%23EA002C' d='M48.083 38.75a14.36 14.36 0 0 0 1.298-6.892c.097-2.47.62-4.346 3.972-4.346h2.732a19.925 19.925 0 0 0 10.095-2.795 35.446 35.446 0 0 0-17.439-5.475c-.484 1.34-4.224 11.6-4.514 12.424.578.686 1.09 1.423 1.53 2.202a24.097 24.097 0 0 1 2.267 4.785'/%3E%3Cpath fill='%23FF7A00' d='M30.271 30.365c-.426 0-.639-.287-.697-.766-.058-.478-2.17-19.564-2.48-22.455 0-.421-.155-1.187-.155-1.455a.627.627 0 0 1 .138-.458.641.641 0 0 1 .424-.231 29.632 29.632 0 0 1 12.226 5.264 6.208 6.208 0 0 0-3.306 2.101 6.082 6.082 0 0 0-1.364 3.643c0 3.14 2.287 4.862 2.306 8.002 0 5.13-5.948 6.355-7.17 6.374M48.564 40.11c0 .191.174.383.271.574a.558.558 0 0 0 .523.306c.169-.001.334-.04.485-.115l20.713-9.571c.387-.192 1.124-.517 1.356-.651a.625.625 0 0 0 .31-.823 22.105 22.105 0 0 0-4.902-4.27 21.915 21.915 0 0 1-11.044 3.16h-2.442c-2.577 0-3.216 1.09-3.294 3.311v1.608a10.95 10.95 0 0 1-1.937 6.547'/%3E%3C/svg%3E");
}
.wrap.login .login_wrap .form {
  width: 100%;
  margin-top: 40px;
}
.wrap.login .login_wrap .form .form-control {
  position: relative;
}
.wrap.login .login_wrap .form .form-control .form-control-label {
  display: none;
}
.wrap.login .login_wrap .form .form-control .error {
  display: none;
  color: #f71010;
  font-size: 11px;
  position: absolute;
  left: 10px;
}
.wrap.login .login_wrap .form .form-control .error.on {
  display: block;
}
.wrap.login .login_wrap .form .form-control + .form-control {
  margin-top: 30px;
}
.wrap.login .login_wrap .form .btnLogin {
  width: 100%;
  height: 56px;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.wrap.login .login_wrap .login-more {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;
}
.wrap.login .login_wrap .login-more a {
  color: var(--txt-sub);
  font-size: 16px;
  line-height: 24px;
}
.wrap.login .login_wrap .login-more a:first-child {
  font-weight: 700;
}
.wrap.login .login_wrap .login-more .bar {
  position: relative;
  width: 33px;
}
.wrap.login .login_wrap .login-more .bar::before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 14px;
  background-color: #d9d9d9;
  position: absolute;
  left: 17px;
  top: 50%;
  transform: translateY(-60%);
}
.wrap.login .form-control-input {
  display: flex;
  height: 56px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-50050555-c, #50555c);
  position: relative;
}
.wrap.login .form-control-input input::-ms-clear,
.wrap.login .form-control-input input::-ms-reveal {
  /* IE의 경우 */
  display: none;
}
.wrap.login .form-control-input input::-webkit-search-decoration,
.wrap.login .form-control-input input::-webkit-search-cancel-button,
.wrap.login .form-control-input input::-webkit-search-results-button,
.wrap.login .form-control-input input::-webkit-search-results-decoration {
  /* 크롬의 경우 */
  display: none;
}
.wrap.login .form-control-input input {
  padding-right: 30px;
  height: 30px;
  width: 100%;
  border: none;
  font-size: 18px;
  line-height: 28px;
  color: var(--txt-sub);
}
.wrap.login .form-control-input input[type=password] {
  color: #555e6a;
}
.wrap.login .form-control-input input:focus + .btnClear {
  opacity: 1;
}
.wrap.login .form-control-input .btnClear {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 16px;
  width: 24px;
  height: inherit;
  background: center center no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM9.53033 8.46967C9.23744 8.17678 8.76256 8.17678 8.46967 8.46967C8.17678 8.76256 8.17678 9.23744 8.46967 9.53033L10.9393 12L8.46967 14.4697C8.17678 14.7626 8.17678 15.2374 8.46967 15.5303C8.76256 15.8232 9.23744 15.8232 9.53033 15.5303L12 13.0607L14.4697 15.5303C14.7626 15.8232 15.2374 15.8232 15.5303 15.5303C15.8232 15.2374 15.8232 14.7626 15.5303 14.4697L13.0607 12L15.5303 9.53033C15.8232 9.23744 15.8232 8.76256 15.5303 8.46967C15.2374 8.17678 14.7626 8.17678 14.4697 8.46967L12 10.9393L9.53033 8.46967Z' fill='%2350555C'/%3E%3C/svg%3E");
  border: none;
  outline: none;
  cursor: pointer;
}

/*** 아이디 찾기 ***/
.find-member .title {
  color: var(--txt-defult);
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.find-member .summary {
  margin-top: 40px;
  color: var(--txt-sub);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.find-member .find-info {
  margin-top: 40px;
}
.find-member .find-info p {
  color: var(--txt-info);
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}
.find-member .find-info .fine-outcome {
  width: 100%;
  padding: 28px;
  margin-top: 8px;
  background: #f7f7f9;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  color: var(--txt-defult);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.find-member .btn-box {
  width: 100%;
  display: flex;
  gap: 0 10px;
  margin-top: 40px;
}
.find-member .btn-box button {
  width: inherit;
  padding: 14px 15px;
  border-radius: 12px;
  color: var(--color-text);
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.find-member .btn-box .btn-primary {
  color: #fff;
}

/*** 비밀번호 변경팝업 ***/
.pw-reset .form {
  margin-top: 40px;
}
.pw-reset .form .form-control + .form-control {
  margin-top: 20px;
}
.pw-reset .form .form-control-label {
  color: var(--text-400, var(--Gray800, #858b93));
  /* Summary 12/12px B */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
}
.pw-reset .form .form-control-container {
  margin-top: 8px;
  position: relative;
}
.pw-reset .form .form-control-container .form-control-input {
  height: unset;
  padding: 10px 16px;
}
.pw-reset .form .form-control-container .error {
  display: none;
  color: #f71010;
  font-size: 11px;
  position: absolute;
  left: 10px;
}
.pw-reset .form .form-control-container .error.on {
  display: block;
}

/*** 회원탈퇴팝업 ***/
.out-member .pop-box {
  height: 85vh;
}

.survey-out {
  margin-top: 40px;
}
.survey-out .title {
  color: var(--txt-defult);
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.survey-out .check-radio {
  margin-top: 20px;
}
.survey-out .box-textarea {
  margin-top: 16px;
}

/* 개인정보처리방침 */
.privacy__wrap {
  width: 100%;
  margin-top: 70px;
  padding-top: 40px;
  border-top: 2px solid #50555c;
}
.privacy__wrap .privacy__table--01 {
  width: 100%;
  margin-top: 10px;
}
.privacy__wrap .privacy__table--01 th {
  padding: 11px;
  border: 1px solid #d0d0d0;
  border-left: none;
  border-right: none;
  background-color: #f5f5f5;
  color: var(--text-600-basic, var(--Txt_Defult, #2e3033));
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.privacy__wrap .privacy__table--01 td {
  width: 50%;
  padding: 13px 30px;
  border-bottom: 1px solid #d0d0d0;
}
.privacy__wrap .privacy__table--01 td ul {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 0;
}
.privacy__wrap .privacy__table--01 td ul li {
  width: 100%;
  color: var(--txt-defult);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: -0.4px;
}/*# sourceMappingURL=memebers.css.map */