<table>
  <colgroup>
    <col width="60px" />
    <col width="300px" />
    <col width="200px" />
    <col width="auto" />
  </colgroup>

  <thead>
    <tr>
      <th>No.</th>
      <th>화면명</th>
      <th>ID</th>
      <th>비고</th>
    </tr>
  </thead>

  <tbody>
    <tr class="path">
      <td></td>
      <td colspan="3">~/html/common/members</td>
    </tr>
    <tr>
      <td></td>
      <td>로그인</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>회원가입</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>회원가입완료</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>아이디찾기</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>비밀번호 변경</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>회원탈퇴안내</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>분기별 비밀번호 변경</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td>서비스 이용약관</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>개인정보 처리방침</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="tabs">알기쉬운 개인정보 처리방침</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="pop">이메일 무단수집 거부</td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr class="path">
      <td></td>
      <td colspan="3">~/html/common/system</td>
    </tr>
    <tr>
      <td></td>
      <td>오류화면404</td>
      <td><a href="../../html/common/system/error_404.html" target="_blank">error_404.html</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>오류화면500</td>
      <td><a href="/src/views/html/common/system/error_500.html" target="_blank">error_500.html</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>정기점검안내</td>
      <td><a href="/src/views/html/common/system/service_check.html" target="_blank">service_check.html</a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href="" target="_blank"></a></td>
      <td></td>
    </tr>
  </tbody>
</table>
