<table>
  <colgroup>
    <col width="60px" />
    <col width="300px" />
    <col width="200px" />
    <col width="auto" />
  </colgroup>

  <thead>
    <tr>
      <th>No.</th>
      <th>화면명</th>
      <th>ID</th>
      <th>비고</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>01</td>
      <td>메인</td>
      <td><a href="">화면id</a></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>

    <tr class="path">
      <td></td>
      <td>탁송</td>
      <td colspan="2">~/html/extra/dl</td>
    </tr>
    <tr>
      <td>01</td>
      <td>탁송요청리스트</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td>02</td>
      <td>일괄 탁송배정</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>

    <tr class="path">
      <td></td>
      <td>경매</td>
      <td colspan="2">~/html/extra/ac</td>
    </tr>

    <tr>
      <td>01</td>
      <td>출품신청리스트</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>엑셀 업로드</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>출품확정 및 결과등록</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>엑셀 업로드</td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
  </tbody>
</table>
