<table>
  <colgroup>
    <col width="60px" />
    <col width="300px" />
    <col width="200px" />
    <col width="auto" />
  </colgroup>

  <thead>
    <tr>
      <th>No.</th>
      <th>화면명</th>
      <th>ID</th>
      <th>비고</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>01</td>
      <td>수출 메인</td>
      <td><a href="">화면id</a></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><a href=""></a></td>
      <td></td>
    </tr>
  </tbody>
</table>
