.ia_list {
  width: 100%;

  .tabcontent-wrap {
    padding-top: 40px;
  }
  table {
    width: 100%;
    border-left: 1px solid #ddd;
    border-top: 2px solid #f69894;
    thead {
      th {
        padding: 13px 5px;
        background: #f3b9a4;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        color: #fff;
      }
    }

    tbody {
      td {
        padding: 6px 5px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        font-size: 0.813rem;

        a {
          display: inline-block;
          width: 100%;
          text-align: center;
        }

        &.cmd {
          position: relative;
          &::before {
            content: "작업완료";
            display: inline-block;
            padding: 3px 5px;
            margin-right: 6px;
            border-radius: 4px;
            background: #a3bcb9;
            color: #fff;
            font-size: 11px;
            font-weight: 500;
          }
        }

        &.edit {
          position: relative;
          &::before {
            content: "퍼블수정";
            display: inline-block;
            padding: 3px 5px;
            margin-right: 6px;
            border-radius: 4px;
            background: #f64a2f;
            color: #fff;
            font-size: 11px;
            font-weight: 500;
          }
        }
      }

      .path {
        td {
          color: #9d84c2;
          font-size: 1.25rem;
          border-top: 3px double #f69894;
        }
      }
    }
  }
}
